/**
 * This file was auto-generated by Fern from our API Definition.
 */

package ai.smallest.resources.atoms.agents;

import ai.smallest.core.ClientOptions;
import ai.smallest.core.RequestOptions;
import ai.smallest.resources.atoms.agents.requests.ArchiveAgentAgentsRequest;
import ai.smallest.resources.atoms.agents.requests.CreateAgentRequest;
import ai.smallest.resources.atoms.agents.requests.CreateAgentWithAiRequest;
import ai.smallest.resources.atoms.agents.requests.DuplicateAgentAgentsRequest;
import ai.smallest.resources.atoms.agents.requests.GetAgentAgentsRequest;
import ai.smallest.resources.atoms.agents.requests.GetAgentAvatarPresignedUrlRequest;
import ai.smallest.resources.atoms.agents.requests.GetAgentCallLogsRequest;
import ai.smallest.resources.atoms.agents.requests.GetAgentIdWorkflowRequest;
import ai.smallest.resources.atoms.agents.requests.GetAgentWidgetConfigRequest;
import ai.smallest.resources.atoms.agents.requests.ListAgentsAgentsRequest;
import ai.smallest.resources.atoms.agents.requests.UpdateAgentRequest;
import ai.smallest.resources.atoms.agents.requests.UpdateAgentWidgetConfigRequest;
import ai.smallest.resources.atoms.agents.requests.UpdateWorkflowConfigurationAgentsRequest;
import ai.smallest.resources.atoms.agents.types.ArchiveAgentAgentsResponse;
import ai.smallest.resources.atoms.agents.types.CreateAgentAgentsResponse;
import ai.smallest.resources.atoms.agents.types.CreateAgentWithAiResponse;
import ai.smallest.resources.atoms.agents.types.DuplicateAgentAgentsResponse;
import ai.smallest.resources.atoms.agents.types.GetAgentAgentsResponse;
import ai.smallest.resources.atoms.agents.types.GetAgentAvatarPresignedUrlResponse;
import ai.smallest.resources.atoms.agents.types.GetAgentCallLogsResponse;
import ai.smallest.resources.atoms.agents.types.GetAgentIdWorkflowResponse;
import ai.smallest.resources.atoms.agents.types.GetAgentPromptConfigResponse;
import ai.smallest.resources.atoms.agents.types.GetAgentWidgetConfigResponse;
import ai.smallest.resources.atoms.agents.types.ListAgentsAgentsResponse;
import ai.smallest.resources.atoms.agents.types.UpdateAgentAgentsResponse;
import ai.smallest.resources.atoms.agents.types.UpdateAgentWidgetConfigResponse;
import java.lang.String;

public class AgentsClient {
  protected final ClientOptions clientOptions;

  private final RawAgentsClient rawClient;

  public AgentsClient(ClientOptions clientOptions) {
    this.clientOptions = clientOptions;
    this.rawClient = new RawAgentsClient(clientOptions);
  }

  /**
   * Get responses with HTTP metadata like headers
   */
  public RawAgentsClient withRawResponse() {
    return this.rawClient;
  }

  /**
   * Agents are the main entities in the system. Agents are used to create conversations. You can create workflow for an agent and configure it for different use cases. You can also create custom workflows for an agent. This API will give you the list of agents created by organization you are a part of.
   */
  public ListAgentsAgentsResponse listAgents() {
    return this.rawClient.listAgents().body();
  }

  /**
   * Agents are the main entities in the system. Agents are used to create conversations. You can create workflow for an agent and configure it for different use cases. You can also create custom workflows for an agent. This API will give you the list of agents created by organization you are a part of.
   */
  public ListAgentsAgentsResponse listAgents(RequestOptions requestOptions) {
    return this.rawClient.listAgents(requestOptions).body();
  }

  /**
   * Agents are the main entities in the system. Agents are used to create conversations. You can create workflow for an agent and configure it for different use cases. You can also create custom workflows for an agent. This API will give you the list of agents created by organization you are a part of.
   */
  public ListAgentsAgentsResponse listAgents(ListAgentsAgentsRequest request) {
    return this.rawClient.listAgents(request).body();
  }

  /**
   * Agents are the main entities in the system. Agents are used to create conversations. You can create workflow for an agent and configure it for different use cases. You can also create custom workflows for an agent. This API will give you the list of agents created by organization you are a part of.
   */
  public ListAgentsAgentsResponse listAgents(ListAgentsAgentsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.listAgents(request, requestOptions).body();
  }

  /**
   * Create a new agent by passing the agent name in the request body.
   * <p>New agents have versioning enabled by default. To set the prompt,
   * <code>firstMessage</code>, tools, or any runtime config, fork a draft from the
   * auto-created initial version, edit it, publish, and activate — see
   * the <a href="/atoms/developer-guide/build/agents/versioning-lifecycle">Versioning Lifecycle</a>
   * guide for the full flow.</p>
   * <p>The legacy <code>PATCH /workflow/{workflowId}</code> endpoint writes directly to
   * the underlying workflow document and bypasses the version lifecycle;
   * edits made that way are not captured as a version and may not
   * propagate to live calls. Use the drafts flow above.</p>
   */
  public CreateAgentAgentsResponse createAgent(CreateAgentRequest request) {
    return this.rawClient.createAgent(request).body();
  }

  /**
   * Create a new agent by passing the agent name in the request body.
   * <p>New agents have versioning enabled by default. To set the prompt,
   * <code>firstMessage</code>, tools, or any runtime config, fork a draft from the
   * auto-created initial version, edit it, publish, and activate — see
   * the <a href="/atoms/developer-guide/build/agents/versioning-lifecycle">Versioning Lifecycle</a>
   * guide for the full flow.</p>
   * <p>The legacy <code>PATCH /workflow/{workflowId}</code> endpoint writes directly to
   * the underlying workflow document and bypasses the version lifecycle;
   * edits made that way are not captured as a version and may not
   * propagate to live calls. Use the drafts flow above.</p>
   */
  public CreateAgentAgentsResponse createAgent(CreateAgentRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.createAgent(request, requestOptions).body();
  }

  /**
   * Creates a new agent using AI generation. Accepts either a guided questionnaire (array of Q&amp;A pairs) or a free-text description. The AI generates the agent's prompt and configuration. A security check is run on the generated prompt before the agent is persisted. Deducts credits on success.
   * <p><strong>Rules:</strong></p>
   * <ul>
   * <li>Either <code>questions</code> (non-empty array) or <code>description</code> must be provided — not both.</li>
   * <li><code>emotiveToggle</code>, <code>voiceId</code>, and <code>voiceModel</code> must either all be present or all be absent.</li>
   * <li>When <code>emotiveToggle=true</code>, <code>voiceModel</code> must be <code>GPT_REALTIME</code>.</li>
   * <li>When <code>emotiveToggle=false</code>, <code>voiceModel</code> cannot be <code>GPT_REALTIME</code>.</li>
   * </ul>
   */
  public CreateAgentWithAiResponse createAgentWithAi() {
    return this.rawClient.createAgentWithAi().body();
  }

  /**
   * Creates a new agent using AI generation. Accepts either a guided questionnaire (array of Q&amp;A pairs) or a free-text description. The AI generates the agent's prompt and configuration. A security check is run on the generated prompt before the agent is persisted. Deducts credits on success.
   * <p><strong>Rules:</strong></p>
   * <ul>
   * <li>Either <code>questions</code> (non-empty array) or <code>description</code> must be provided — not both.</li>
   * <li><code>emotiveToggle</code>, <code>voiceId</code>, and <code>voiceModel</code> must either all be present or all be absent.</li>
   * <li>When <code>emotiveToggle=true</code>, <code>voiceModel</code> must be <code>GPT_REALTIME</code>.</li>
   * <li>When <code>emotiveToggle=false</code>, <code>voiceModel</code> cannot be <code>GPT_REALTIME</code>.</li>
   * </ul>
   */
  public CreateAgentWithAiResponse createAgentWithAi(RequestOptions requestOptions) {
    return this.rawClient.createAgentWithAi(requestOptions).body();
  }

  /**
   * Creates a new agent using AI generation. Accepts either a guided questionnaire (array of Q&amp;A pairs) or a free-text description. The AI generates the agent's prompt and configuration. A security check is run on the generated prompt before the agent is persisted. Deducts credits on success.
   * <p><strong>Rules:</strong></p>
   * <ul>
   * <li>Either <code>questions</code> (non-empty array) or <code>description</code> must be provided — not both.</li>
   * <li><code>emotiveToggle</code>, <code>voiceId</code>, and <code>voiceModel</code> must either all be present or all be absent.</li>
   * <li>When <code>emotiveToggle=true</code>, <code>voiceModel</code> must be <code>GPT_REALTIME</code>.</li>
   * <li>When <code>emotiveToggle=false</code>, <code>voiceModel</code> cannot be <code>GPT_REALTIME</code>.</li>
   * </ul>
   */
  public CreateAgentWithAiResponse createAgentWithAi(CreateAgentWithAiRequest request) {
    return this.rawClient.createAgentWithAi(request).body();
  }

  /**
   * Creates a new agent using AI generation. Accepts either a guided questionnaire (array of Q&amp;A pairs) or a free-text description. The AI generates the agent's prompt and configuration. A security check is run on the generated prompt before the agent is persisted. Deducts credits on success.
   * <p><strong>Rules:</strong></p>
   * <ul>
   * <li>Either <code>questions</code> (non-empty array) or <code>description</code> must be provided — not both.</li>
   * <li><code>emotiveToggle</code>, <code>voiceId</code>, and <code>voiceModel</code> must either all be present or all be absent.</li>
   * <li>When <code>emotiveToggle=true</code>, <code>voiceModel</code> must be <code>GPT_REALTIME</code>.</li>
   * <li>When <code>emotiveToggle=false</code>, <code>voiceModel</code> cannot be <code>GPT_REALTIME</code>.</li>
   * </ul>
   */
  public CreateAgentWithAiResponse createAgentWithAi(CreateAgentWithAiRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.createAgentWithAi(request, requestOptions).body();
  }

  /**
   * Duplicates a SINGLE_PROMPT agent's live active version into a target organization
   * (can also be the same organization). Copies all versioned configuration but strips
   * organization-specific resources: knowledge base tools are removed, default variable
   * values are blanked, and a new avatar is generated. The duplicate starts with a
   * published V1 as its active version.
   * <p><strong>400 is returned when:</strong></p>
   * <ul>
   * <li>The source agent is archived (<code>&quot;Cannot duplicate an archived agent&quot;</code>)</li>
   * <li>The agent has no <code>activeVersionId</code> (<code>&quot;This agent has no active version and cannot be duplicated&quot;</code>)</li>
   * <li>The active version exists but is not published/active (<code>&quot;This agent has no active published version and cannot be duplicated&quot;</code>)</li>
   * <li>The agent is not <code>SINGLE_PROMPT</code> workflow type</li>
   * </ul>
   */
  public DuplicateAgentAgentsResponse duplicateAgent(String id,
      DuplicateAgentAgentsRequest request) {
    return this.rawClient.duplicateAgent(id, request).body();
  }

  /**
   * Duplicates a SINGLE_PROMPT agent's live active version into a target organization
   * (can also be the same organization). Copies all versioned configuration but strips
   * organization-specific resources: knowledge base tools are removed, default variable
   * values are blanked, and a new avatar is generated. The duplicate starts with a
   * published V1 as its active version.
   * <p><strong>400 is returned when:</strong></p>
   * <ul>
   * <li>The source agent is archived (<code>&quot;Cannot duplicate an archived agent&quot;</code>)</li>
   * <li>The agent has no <code>activeVersionId</code> (<code>&quot;This agent has no active version and cannot be duplicated&quot;</code>)</li>
   * <li>The active version exists but is not published/active (<code>&quot;This agent has no active published version and cannot be duplicated&quot;</code>)</li>
   * <li>The agent is not <code>SINGLE_PROMPT</code> workflow type</li>
   * </ul>
   */
  public DuplicateAgentAgentsResponse duplicateAgent(String id, DuplicateAgentAgentsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.duplicateAgent(id, request, requestOptions).body();
  }

  /**
   * Returns the agent document merged with the resolved config of the active version
   * under <code>_resolvedConfig</code>. Non-versioned fields (name, telephonyProductId, allowInboundCall,
   * etc.) sit at the top level; versioned fields (prompt, tools, language, synthesizer,
   * post-call analytics, …) are resolved from the target version and exposed under <code>_resolvedConfig</code>.
   * <p><strong>Previewing a draft or specific version</strong></p>
   * <p>Pass <code>?draftId=&lt;id&gt;</code> to resolve config from a specific draft instead of the active version.
   * Pass <code>?versionId=&lt;id&gt;</code> to resolve config from a specific published version.
   * When either param is used, the response includes <code>_configSource: &quot;draft&quot; | &quot;version&quot; | &quot;active&quot;</code>
   * indicating which config was resolved.</p>
   * <p>Notable resolved fields in <code>_resolvedConfig</code>:</p>
   * <ul>
   * <li><code>prompt</code> — active version's single-prompt text</li>
   * <li><code>tools</code> — configured tools on the resolved version</li>
   * <li><code>postCallAnalyticsConfig</code> — disposition metrics + analytics model flags</li>
   * <li><code>modelName</code> — LLM model name on the resolved version</li>
   * <li><code>defaultLanguage</code>, <code>supportedLanguages</code> — active language config</li>
   * <li><code>firstMessage</code>, <code>globalPrompt</code> — active messaging config</li>
   * <li><code>workflowGraph</code> — full node graph for <code>workflow_graph</code> agents</li>
   * </ul>
   * <p>To read prompt + tools alone, use <code>GET /agent/{id}/workflow</code> (deprecated for
   * new integrations but still live). To inspect a specific non-active version,
   * use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   * <p><strong>400 — also used for &quot;not found&quot;:</strong> if the agent ID does not exist in the
   * organization, the API returns 400 with <code>errors: [&quot;No agent found&quot;]</code> rather than 404.</p>
   */
  public GetAgentAgentsResponse getAgent(String id) {
    return this.rawClient.getAgent(id).body();
  }

  /**
   * Returns the agent document merged with the resolved config of the active version
   * under <code>_resolvedConfig</code>. Non-versioned fields (name, telephonyProductId, allowInboundCall,
   * etc.) sit at the top level; versioned fields (prompt, tools, language, synthesizer,
   * post-call analytics, …) are resolved from the target version and exposed under <code>_resolvedConfig</code>.
   * <p><strong>Previewing a draft or specific version</strong></p>
   * <p>Pass <code>?draftId=&lt;id&gt;</code> to resolve config from a specific draft instead of the active version.
   * Pass <code>?versionId=&lt;id&gt;</code> to resolve config from a specific published version.
   * When either param is used, the response includes <code>_configSource: &quot;draft&quot; | &quot;version&quot; | &quot;active&quot;</code>
   * indicating which config was resolved.</p>
   * <p>Notable resolved fields in <code>_resolvedConfig</code>:</p>
   * <ul>
   * <li><code>prompt</code> — active version's single-prompt text</li>
   * <li><code>tools</code> — configured tools on the resolved version</li>
   * <li><code>postCallAnalyticsConfig</code> — disposition metrics + analytics model flags</li>
   * <li><code>modelName</code> — LLM model name on the resolved version</li>
   * <li><code>defaultLanguage</code>, <code>supportedLanguages</code> — active language config</li>
   * <li><code>firstMessage</code>, <code>globalPrompt</code> — active messaging config</li>
   * <li><code>workflowGraph</code> — full node graph for <code>workflow_graph</code> agents</li>
   * </ul>
   * <p>To read prompt + tools alone, use <code>GET /agent/{id}/workflow</code> (deprecated for
   * new integrations but still live). To inspect a specific non-active version,
   * use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   * <p><strong>400 — also used for &quot;not found&quot;:</strong> if the agent ID does not exist in the
   * organization, the API returns 400 with <code>errors: [&quot;No agent found&quot;]</code> rather than 404.</p>
   */
  public GetAgentAgentsResponse getAgent(String id, RequestOptions requestOptions) {
    return this.rawClient.getAgent(id, requestOptions).body();
  }

  /**
   * Returns the agent document merged with the resolved config of the active version
   * under <code>_resolvedConfig</code>. Non-versioned fields (name, telephonyProductId, allowInboundCall,
   * etc.) sit at the top level; versioned fields (prompt, tools, language, synthesizer,
   * post-call analytics, …) are resolved from the target version and exposed under <code>_resolvedConfig</code>.
   * <p><strong>Previewing a draft or specific version</strong></p>
   * <p>Pass <code>?draftId=&lt;id&gt;</code> to resolve config from a specific draft instead of the active version.
   * Pass <code>?versionId=&lt;id&gt;</code> to resolve config from a specific published version.
   * When either param is used, the response includes <code>_configSource: &quot;draft&quot; | &quot;version&quot; | &quot;active&quot;</code>
   * indicating which config was resolved.</p>
   * <p>Notable resolved fields in <code>_resolvedConfig</code>:</p>
   * <ul>
   * <li><code>prompt</code> — active version's single-prompt text</li>
   * <li><code>tools</code> — configured tools on the resolved version</li>
   * <li><code>postCallAnalyticsConfig</code> — disposition metrics + analytics model flags</li>
   * <li><code>modelName</code> — LLM model name on the resolved version</li>
   * <li><code>defaultLanguage</code>, <code>supportedLanguages</code> — active language config</li>
   * <li><code>firstMessage</code>, <code>globalPrompt</code> — active messaging config</li>
   * <li><code>workflowGraph</code> — full node graph for <code>workflow_graph</code> agents</li>
   * </ul>
   * <p>To read prompt + tools alone, use <code>GET /agent/{id}/workflow</code> (deprecated for
   * new integrations but still live). To inspect a specific non-active version,
   * use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   * <p><strong>400 — also used for &quot;not found&quot;:</strong> if the agent ID does not exist in the
   * organization, the API returns 400 with <code>errors: [&quot;No agent found&quot;]</code> rather than 404.</p>
   */
  public GetAgentAgentsResponse getAgent(String id, GetAgentAgentsRequest request) {
    return this.rawClient.getAgent(id, request).body();
  }

  /**
   * Returns the agent document merged with the resolved config of the active version
   * under <code>_resolvedConfig</code>. Non-versioned fields (name, telephonyProductId, allowInboundCall,
   * etc.) sit at the top level; versioned fields (prompt, tools, language, synthesizer,
   * post-call analytics, …) are resolved from the target version and exposed under <code>_resolvedConfig</code>.
   * <p><strong>Previewing a draft or specific version</strong></p>
   * <p>Pass <code>?draftId=&lt;id&gt;</code> to resolve config from a specific draft instead of the active version.
   * Pass <code>?versionId=&lt;id&gt;</code> to resolve config from a specific published version.
   * When either param is used, the response includes <code>_configSource: &quot;draft&quot; | &quot;version&quot; | &quot;active&quot;</code>
   * indicating which config was resolved.</p>
   * <p>Notable resolved fields in <code>_resolvedConfig</code>:</p>
   * <ul>
   * <li><code>prompt</code> — active version's single-prompt text</li>
   * <li><code>tools</code> — configured tools on the resolved version</li>
   * <li><code>postCallAnalyticsConfig</code> — disposition metrics + analytics model flags</li>
   * <li><code>modelName</code> — LLM model name on the resolved version</li>
   * <li><code>defaultLanguage</code>, <code>supportedLanguages</code> — active language config</li>
   * <li><code>firstMessage</code>, <code>globalPrompt</code> — active messaging config</li>
   * <li><code>workflowGraph</code> — full node graph for <code>workflow_graph</code> agents</li>
   * </ul>
   * <p>To read prompt + tools alone, use <code>GET /agent/{id}/workflow</code> (deprecated for
   * new integrations but still live). To inspect a specific non-active version,
   * use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   * <p><strong>400 — also used for &quot;not found&quot;:</strong> if the agent ID does not exist in the
   * organization, the API returns 400 with <code>errors: [&quot;No agent found&quot;]</code> rather than 404.</p>
   */
  public GetAgentAgentsResponse getAgent(String id, GetAgentAgentsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.getAgent(id, request, requestOptions).body();
  }

  /**
   * Update agent fields. Behavior depends on whether the agent has versioning enabled:
   * <p><strong>Versioned agents</strong> (have an active published version): only metadata fields are accepted —
   * <code>name</code>, <code>description</code>, <code>avatarUrl</code>, <code>telephonyProductId</code>, <code>allowInboundCall</code>, <code>visibleToEveryone</code>.
   * Submitting any config-level field returns 400 with
   * <code>&quot;Agent has versioning enabled. Config changes must be made through drafts.&quot;</code>.
   * Use <code>PATCH /agent/{id}/drafts/{draftId}/config</code> instead.</p>
   * <p><strong>Non-versioned agents</strong> (no active version): all configuration fields are accepted,
   * the same full set as <code>POST /agent</code>.</p>
   * <p><strong>400 is also returned when:</strong></p>
   * <ul>
   * <li>The agent is locked (<code>&quot;Agent is locked, please unlock it to update&quot;</code>)</li>
   * <li>Cross-field constraint violated (e.g. <code>north_indic</code> language requires <code>transcriberType: pulse</code>)</li>
   * </ul>
   * <p><strong>403</strong> is returned when selecting a gated model (<code>gpt-5.2</code>, <code>electron-kogta</code>, <code>electron-kogta-v2</code>)
   * without org-level access.</p>
   */
  public UpdateAgentAgentsResponse updateAgent(String id) {
    return this.rawClient.updateAgent(id).body();
  }

  /**
   * Update agent fields. Behavior depends on whether the agent has versioning enabled:
   * <p><strong>Versioned agents</strong> (have an active published version): only metadata fields are accepted —
   * <code>name</code>, <code>description</code>, <code>avatarUrl</code>, <code>telephonyProductId</code>, <code>allowInboundCall</code>, <code>visibleToEveryone</code>.
   * Submitting any config-level field returns 400 with
   * <code>&quot;Agent has versioning enabled. Config changes must be made through drafts.&quot;</code>.
   * Use <code>PATCH /agent/{id}/drafts/{draftId}/config</code> instead.</p>
   * <p><strong>Non-versioned agents</strong> (no active version): all configuration fields are accepted,
   * the same full set as <code>POST /agent</code>.</p>
   * <p><strong>400 is also returned when:</strong></p>
   * <ul>
   * <li>The agent is locked (<code>&quot;Agent is locked, please unlock it to update&quot;</code>)</li>
   * <li>Cross-field constraint violated (e.g. <code>north_indic</code> language requires <code>transcriberType: pulse</code>)</li>
   * </ul>
   * <p><strong>403</strong> is returned when selecting a gated model (<code>gpt-5.2</code>, <code>electron-kogta</code>, <code>electron-kogta-v2</code>)
   * without org-level access.</p>
   */
  public UpdateAgentAgentsResponse updateAgent(String id, RequestOptions requestOptions) {
    return this.rawClient.updateAgent(id, requestOptions).body();
  }

  /**
   * Update agent fields. Behavior depends on whether the agent has versioning enabled:
   * <p><strong>Versioned agents</strong> (have an active published version): only metadata fields are accepted —
   * <code>name</code>, <code>description</code>, <code>avatarUrl</code>, <code>telephonyProductId</code>, <code>allowInboundCall</code>, <code>visibleToEveryone</code>.
   * Submitting any config-level field returns 400 with
   * <code>&quot;Agent has versioning enabled. Config changes must be made through drafts.&quot;</code>.
   * Use <code>PATCH /agent/{id}/drafts/{draftId}/config</code> instead.</p>
   * <p><strong>Non-versioned agents</strong> (no active version): all configuration fields are accepted,
   * the same full set as <code>POST /agent</code>.</p>
   * <p><strong>400 is also returned when:</strong></p>
   * <ul>
   * <li>The agent is locked (<code>&quot;Agent is locked, please unlock it to update&quot;</code>)</li>
   * <li>Cross-field constraint violated (e.g. <code>north_indic</code> language requires <code>transcriberType: pulse</code>)</li>
   * </ul>
   * <p><strong>403</strong> is returned when selecting a gated model (<code>gpt-5.2</code>, <code>electron-kogta</code>, <code>electron-kogta-v2</code>)
   * without org-level access.</p>
   */
  public UpdateAgentAgentsResponse updateAgent(String id, UpdateAgentRequest request) {
    return this.rawClient.updateAgent(id, request).body();
  }

  /**
   * Update agent fields. Behavior depends on whether the agent has versioning enabled:
   * <p><strong>Versioned agents</strong> (have an active published version): only metadata fields are accepted —
   * <code>name</code>, <code>description</code>, <code>avatarUrl</code>, <code>telephonyProductId</code>, <code>allowInboundCall</code>, <code>visibleToEveryone</code>.
   * Submitting any config-level field returns 400 with
   * <code>&quot;Agent has versioning enabled. Config changes must be made through drafts.&quot;</code>.
   * Use <code>PATCH /agent/{id}/drafts/{draftId}/config</code> instead.</p>
   * <p><strong>Non-versioned agents</strong> (no active version): all configuration fields are accepted,
   * the same full set as <code>POST /agent</code>.</p>
   * <p><strong>400 is also returned when:</strong></p>
   * <ul>
   * <li>The agent is locked (<code>&quot;Agent is locked, please unlock it to update&quot;</code>)</li>
   * <li>Cross-field constraint violated (e.g. <code>north_indic</code> language requires <code>transcriberType: pulse</code>)</li>
   * </ul>
   * <p><strong>403</strong> is returned when selecting a gated model (<code>gpt-5.2</code>, <code>electron-kogta</code>, <code>electron-kogta-v2</code>)
   * without org-level access.</p>
   */
  public UpdateAgentAgentsResponse updateAgent(String id, UpdateAgentRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.updateAgent(id, request, requestOptions).body();
  }

  /**
   * Returns the questionnaire configuration used by the &quot;Create with AI&quot; flow — the list of guided questions, their types, available options, and pre-filled example answers per label. Only a user token is required; no organization auth needed.
   */
  public GetAgentPromptConfigResponse getAgentPromptConfig() {
    return this.rawClient.getAgentPromptConfig().body();
  }

  /**
   * Returns the questionnaire configuration used by the &quot;Create with AI&quot; flow — the list of guided questions, their types, available options, and pre-filled example answers per label. Only a user token is required; no organization auth needed.
   */
  public GetAgentPromptConfigResponse getAgentPromptConfig(RequestOptions requestOptions) {
    return this.rawClient.getAgentPromptConfig(requestOptions).body();
  }

  /**
   * Returns the current web widget configuration for the agent. Also includes <code>assistantId</code> (same as the agent ID) as a convenience field for the widget embed code.
   */
  public GetAgentWidgetConfigResponse getAgentWidgetConfig(String id) {
    return this.rawClient.getAgentWidgetConfig(id).body();
  }

  /**
   * Returns the current web widget configuration for the agent. Also includes <code>assistantId</code> (same as the agent ID) as a convenience field for the widget embed code.
   */
  public GetAgentWidgetConfigResponse getAgentWidgetConfig(String id,
      RequestOptions requestOptions) {
    return this.rawClient.getAgentWidgetConfig(id, requestOptions).body();
  }

  /**
   * Returns the current web widget configuration for the agent. Also includes <code>assistantId</code> (same as the agent ID) as a convenience field for the widget embed code.
   */
  public GetAgentWidgetConfigResponse getAgentWidgetConfig(String id,
      GetAgentWidgetConfigRequest request) {
    return this.rawClient.getAgentWidgetConfig(id, request).body();
  }

  /**
   * Returns the current web widget configuration for the agent. Also includes <code>assistantId</code> (same as the agent ID) as a convenience field for the widget embed code.
   */
  public GetAgentWidgetConfigResponse getAgentWidgetConfig(String id,
      GetAgentWidgetConfigRequest request, RequestOptions requestOptions) {
    return this.rawClient.getAgentWidgetConfig(id, request, requestOptions).body();
  }

  /**
   * Updates the web widget configuration for the agent. Only provided fields are updated (partial update). When <code>avatarUrl</code> is changed, the old CDN avatar is automatically deleted from S3. The <code>avatarUrl</code> must be a URL from the platform's CDN domain — use <code>POST /agent/{id}/avatar/presigned-url</code> to upload first.
   */
  public UpdateAgentWidgetConfigResponse updateAgentWidgetConfig(String id) {
    return this.rawClient.updateAgentWidgetConfig(id).body();
  }

  /**
   * Updates the web widget configuration for the agent. Only provided fields are updated (partial update). When <code>avatarUrl</code> is changed, the old CDN avatar is automatically deleted from S3. The <code>avatarUrl</code> must be a URL from the platform's CDN domain — use <code>POST /agent/{id}/avatar/presigned-url</code> to upload first.
   */
  public UpdateAgentWidgetConfigResponse updateAgentWidgetConfig(String id,
      RequestOptions requestOptions) {
    return this.rawClient.updateAgentWidgetConfig(id, requestOptions).body();
  }

  /**
   * Updates the web widget configuration for the agent. Only provided fields are updated (partial update). When <code>avatarUrl</code> is changed, the old CDN avatar is automatically deleted from S3. The <code>avatarUrl</code> must be a URL from the platform's CDN domain — use <code>POST /agent/{id}/avatar/presigned-url</code> to upload first.
   */
  public UpdateAgentWidgetConfigResponse updateAgentWidgetConfig(String id,
      UpdateAgentWidgetConfigRequest request) {
    return this.rawClient.updateAgentWidgetConfig(id, request).body();
  }

  /**
   * Updates the web widget configuration for the agent. Only provided fields are updated (partial update). When <code>avatarUrl</code> is changed, the old CDN avatar is automatically deleted from S3. The <code>avatarUrl</code> must be a URL from the platform's CDN domain — use <code>POST /agent/{id}/avatar/presigned-url</code> to upload first.
   */
  public UpdateAgentWidgetConfigResponse updateAgentWidgetConfig(String id,
      UpdateAgentWidgetConfigRequest request, RequestOptions requestOptions) {
    return this.rawClient.updateAgentWidgetConfig(id, request, requestOptions).body();
  }

  /**
   * Generates a pre-signed S3 upload URL for the agent's widget avatar image. Upload the image directly to S3 using the returned <code>presignedUrl</code>, then save <code>cdnUrl</code> as the agent's avatar via <code>PATCH /agent/{id}/widget-config</code>.
   */
  public GetAgentAvatarPresignedUrlResponse getAgentAvatarPresignedUrl(String id,
      GetAgentAvatarPresignedUrlRequest request) {
    return this.rawClient.getAgentAvatarPresignedUrl(id, request).body();
  }

  /**
   * Generates a pre-signed S3 upload URL for the agent's widget avatar image. Upload the image directly to S3 using the returned <code>presignedUrl</code>, then save <code>cdnUrl</code> as the agent's avatar via <code>PATCH /agent/{id}/widget-config</code>.
   */
  public GetAgentAvatarPresignedUrlResponse getAgentAvatarPresignedUrl(String id,
      GetAgentAvatarPresignedUrlRequest request, RequestOptions requestOptions) {
    return this.rawClient.getAgentAvatarPresignedUrl(id, request, requestOptions).body();
  }

  /**
   * <strong>Deprecated</strong> — prefer <code>GET /agent/{id}</code> (config is resolved into <code>_resolvedConfig</code>
   * including prompt, tools, and post-call analytics).
   * <p>Returns the active version's prompt and tools for single-prompt agents, or the
   * workflow graph data for workflow_graph agents. Customers still rely on this to
   * fetch their current prompt + tools — endpoint is kept live for now.</p>
   * <p><strong>Caveat:</strong> the <code>versionId</code> query param (if passed) is silently ignored.
   * The response always reflects the currently-active version. To inspect a
   * non-active version, use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   */
  public GetAgentIdWorkflowResponse getAgentWorkflow(String id) {
    return this.rawClient.getAgentWorkflow(id).body();
  }

  /**
   * <strong>Deprecated</strong> — prefer <code>GET /agent/{id}</code> (config is resolved into <code>_resolvedConfig</code>
   * including prompt, tools, and post-call analytics).
   * <p>Returns the active version's prompt and tools for single-prompt agents, or the
   * workflow graph data for workflow_graph agents. Customers still rely on this to
   * fetch their current prompt + tools — endpoint is kept live for now.</p>
   * <p><strong>Caveat:</strong> the <code>versionId</code> query param (if passed) is silently ignored.
   * The response always reflects the currently-active version. To inspect a
   * non-active version, use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   */
  public GetAgentIdWorkflowResponse getAgentWorkflow(String id, RequestOptions requestOptions) {
    return this.rawClient.getAgentWorkflow(id, requestOptions).body();
  }

  /**
   * <strong>Deprecated</strong> — prefer <code>GET /agent/{id}</code> (config is resolved into <code>_resolvedConfig</code>
   * including prompt, tools, and post-call analytics).
   * <p>Returns the active version's prompt and tools for single-prompt agents, or the
   * workflow graph data for workflow_graph agents. Customers still rely on this to
   * fetch their current prompt + tools — endpoint is kept live for now.</p>
   * <p><strong>Caveat:</strong> the <code>versionId</code> query param (if passed) is silently ignored.
   * The response always reflects the currently-active version. To inspect a
   * non-active version, use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   */
  public GetAgentIdWorkflowResponse getAgentWorkflow(String id, GetAgentIdWorkflowRequest request) {
    return this.rawClient.getAgentWorkflow(id, request).body();
  }

  /**
   * <strong>Deprecated</strong> — prefer <code>GET /agent/{id}</code> (config is resolved into <code>_resolvedConfig</code>
   * including prompt, tools, and post-call analytics).
   * <p>Returns the active version's prompt and tools for single-prompt agents, or the
   * workflow graph data for workflow_graph agents. Customers still rely on this to
   * fetch their current prompt + tools — endpoint is kept live for now.</p>
   * <p><strong>Caveat:</strong> the <code>versionId</code> query param (if passed) is silently ignored.
   * The response always reflects the currently-active version. To inspect a
   * non-active version, use <code>GET /agent/{id}/versions/{versionId}</code>.</p>
   */
  public GetAgentIdWorkflowResponse getAgentWorkflow(String id, GetAgentIdWorkflowRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.getAgentWorkflow(id, request, requestOptions).body();
  }

  /**
   * <strong>Deprecated</strong> — use <code>PATCH /agent/{id}/drafts/{draftId}/config</code> instead.
   * <p>Directly mutates the legacy workflow document for an agent. This write path
   * bypasses the versioning system entirely: the change is not captured as a
   * new version, and future version activations may overwrite the legacy doc
   * back to whatever the version snapshot contains.</p>
   * <p>⚠ <strong>Writing here on a versioned agent can silently wipe tools, prompt, or
   * other fields that were missing from the PATCH payload.</strong> Only use this if
   * you know the agent is not using versioning, or if you are intentionally
   * hot-patching the legacy doc.</p>
   */
  public void updateWorkflowConfiguration(String id,
      UpdateWorkflowConfigurationAgentsRequest request) {
    this.rawClient.updateWorkflowConfiguration(id, request).body();
  }

  /**
   * <strong>Deprecated</strong> — use <code>PATCH /agent/{id}/drafts/{draftId}/config</code> instead.
   * <p>Directly mutates the legacy workflow document for an agent. This write path
   * bypasses the versioning system entirely: the change is not captured as a
   * new version, and future version activations may overwrite the legacy doc
   * back to whatever the version snapshot contains.</p>
   * <p>⚠ <strong>Writing here on a versioned agent can silently wipe tools, prompt, or
   * other fields that were missing from the PATCH payload.</strong> Only use this if
   * you know the agent is not using versioning, or if you are intentionally
   * hot-patching the legacy doc.</p>
   */
  public void updateWorkflowConfiguration(String id,
      UpdateWorkflowConfigurationAgentsRequest request, RequestOptions requestOptions) {
    this.rawClient.updateWorkflowConfiguration(id, request, requestOptions).body();
  }

  /**
   * Returns paginated call logs for a specific agent.
   */
  public GetAgentCallLogsResponse getAgentCallLogs(String id) {
    return this.rawClient.getAgentCallLogs(id).body();
  }

  /**
   * Returns paginated call logs for a specific agent.
   */
  public GetAgentCallLogsResponse getAgentCallLogs(String id, RequestOptions requestOptions) {
    return this.rawClient.getAgentCallLogs(id, requestOptions).body();
  }

  /**
   * Returns paginated call logs for a specific agent.
   */
  public GetAgentCallLogsResponse getAgentCallLogs(String id, GetAgentCallLogsRequest request) {
    return this.rawClient.getAgentCallLogs(id, request).body();
  }

  /**
   * Returns paginated call logs for a specific agent.
   */
  public GetAgentCallLogsResponse getAgentCallLogs(String id, GetAgentCallLogsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.getAgentCallLogs(id, request, requestOptions).body();
  }

  /**
   * Soft-archives the agent — it is excluded from listings and stops accepting calls,
   * but all data is preserved and the operation is fully reversible.
   * <p>Pass <code>?on=false</code> to unarchive (restore) a previously archived agent.</p>
   * <p><strong>409 is returned when:</strong></p>
   * <ul>
   * <li>The agent is already in the requested state (<code>&quot;Agent is already archived&quot;</code> / <code>&quot;Agent is already active&quot;</code>)</li>
   * <li>The agent is linked to an active campaign (<code>&quot;Agent is associated with the [status] campaign &quot;[name]&quot;. Complete or remove the campaign before archiving.&quot;</code>)</li>
   * </ul>
   */
  public ArchiveAgentAgentsResponse archiveAgent(String id) {
    return this.rawClient.archiveAgent(id).body();
  }

  /**
   * Soft-archives the agent — it is excluded from listings and stops accepting calls,
   * but all data is preserved and the operation is fully reversible.
   * <p>Pass <code>?on=false</code> to unarchive (restore) a previously archived agent.</p>
   * <p><strong>409 is returned when:</strong></p>
   * <ul>
   * <li>The agent is already in the requested state (<code>&quot;Agent is already archived&quot;</code> / <code>&quot;Agent is already active&quot;</code>)</li>
   * <li>The agent is linked to an active campaign (<code>&quot;Agent is associated with the [status] campaign &quot;[name]&quot;. Complete or remove the campaign before archiving.&quot;</code>)</li>
   * </ul>
   */
  public ArchiveAgentAgentsResponse archiveAgent(String id, RequestOptions requestOptions) {
    return this.rawClient.archiveAgent(id, requestOptions).body();
  }

  /**
   * Soft-archives the agent — it is excluded from listings and stops accepting calls,
   * but all data is preserved and the operation is fully reversible.
   * <p>Pass <code>?on=false</code> to unarchive (restore) a previously archived agent.</p>
   * <p><strong>409 is returned when:</strong></p>
   * <ul>
   * <li>The agent is already in the requested state (<code>&quot;Agent is already archived&quot;</code> / <code>&quot;Agent is already active&quot;</code>)</li>
   * <li>The agent is linked to an active campaign (<code>&quot;Agent is associated with the [status] campaign &quot;[name]&quot;. Complete or remove the campaign before archiving.&quot;</code>)</li>
   * </ul>
   */
  public ArchiveAgentAgentsResponse archiveAgent(String id, ArchiveAgentAgentsRequest request) {
    return this.rawClient.archiveAgent(id, request).body();
  }

  /**
   * Soft-archives the agent — it is excluded from listings and stops accepting calls,
   * but all data is preserved and the operation is fully reversible.
   * <p>Pass <code>?on=false</code> to unarchive (restore) a previously archived agent.</p>
   * <p><strong>409 is returned when:</strong></p>
   * <ul>
   * <li>The agent is already in the requested state (<code>&quot;Agent is already archived&quot;</code> / <code>&quot;Agent is already active&quot;</code>)</li>
   * <li>The agent is linked to an active campaign (<code>&quot;Agent is associated with the [status] campaign &quot;[name]&quot;. Complete or remove the campaign before archiving.&quot;</code>)</li>
   * </ul>
   */
  public ArchiveAgentAgentsResponse archiveAgent(String id, ArchiveAgentAgentsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.archiveAgent(id, request, requestOptions).body();
  }
}
