/**
 * This file was auto-generated by Fern from our API Definition.
 */

package ai.smallest.resources.waves.requests;

import ai.smallest.core.ObjectMappers;
import ai.smallest.resources.waves.types.TranscribePulseWavesRequestCapitalize;
import ai.smallest.resources.waves.types.TranscribePulseWavesRequestEmotionDetection;
import ai.smallest.resources.waves.types.TranscribePulseWavesRequestEncoding;
import ai.smallest.resources.waves.types.TranscribePulseWavesRequestFormat;
import ai.smallest.resources.waves.types.TranscribePulseWavesRequestGenderDetection;
import ai.smallest.resources.waves.types.TranscribePulseWavesRequestLanguage;
import ai.smallest.resources.waves.types.TranscribePulseWavesRequestPunctuate;
import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import java.lang.Boolean;
import java.lang.Object;
import java.lang.String;
import java.util.HashMap;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(
    builder = TranscribePulseWavesRequest.Builder.class
)
public final class TranscribePulseWavesRequest {
  private final Optional<TranscribePulseWavesRequestLanguage> language;

  private final Optional<TranscribePulseWavesRequestEncoding> encoding;

  private final Optional<String> webhookUrl;

  private final Optional<String> webhookExtra;

  private final Optional<Boolean> wordTimestamps;

  private final Optional<Boolean> diarize;

  private final Optional<TranscribePulseWavesRequestGenderDetection> genderDetection;

  private final Optional<TranscribePulseWavesRequestEmotionDetection> emotionDetection;

  private final Optional<TranscribePulseWavesRequestFormat> format;

  private final Optional<TranscribePulseWavesRequestPunctuate> punctuate;

  private final Optional<TranscribePulseWavesRequestCapitalize> capitalize;

  private final byte[] body;

  private final Map<String, Object> additionalProperties;

  private TranscribePulseWavesRequest(Optional<TranscribePulseWavesRequestLanguage> language,
      Optional<TranscribePulseWavesRequestEncoding> encoding, Optional<String> webhookUrl,
      Optional<String> webhookExtra, Optional<Boolean> wordTimestamps, Optional<Boolean> diarize,
      Optional<TranscribePulseWavesRequestGenderDetection> genderDetection,
      Optional<TranscribePulseWavesRequestEmotionDetection> emotionDetection,
      Optional<TranscribePulseWavesRequestFormat> format,
      Optional<TranscribePulseWavesRequestPunctuate> punctuate,
      Optional<TranscribePulseWavesRequestCapitalize> capitalize, byte[] body,
      Map<String, Object> additionalProperties) {
    this.language = language;
    this.encoding = encoding;
    this.webhookUrl = webhookUrl;
    this.webhookExtra = webhookExtra;
    this.wordTimestamps = wordTimestamps;
    this.diarize = diarize;
    this.genderDetection = genderDetection;
    this.emotionDetection = emotionDetection;
    this.format = format;
    this.punctuate = punctuate;
    this.capitalize = capitalize;
    this.body = body;
    this.additionalProperties = additionalProperties;
  }

  /**
   * @return Language of the audio file. Set explicitly to the known language for best accuracy.
   * <p><strong>26 single-language codes</strong> on this endpoint: <code>en</code>, <code>hi</code>, <code>de</code>, <code>es</code>, <code>ru</code>, <code>it</code>, <code>fr</code>, <code>nl</code>, <code>pt</code>, <code>uk</code>, <code>pl</code>, <code>cs</code>, <code>sk</code>, <code>lv</code>, <code>et</code>, <code>ro</code>, <code>fi</code>, <code>sv</code>, <code>bg</code>, <code>hu</code>, <code>da</code>, <code>lt</code>, <code>mt</code>, <code>zh</code>, <code>ja</code>, <code>ko</code>.</p>
   * <p><strong>Regional auto-detect aggregators</strong> for unknown audio:</p>
   * <ul>
   * <li><code>multi-eu</code> (default) — auto-detects across all 21 European codes above plus <code>en</code>.</li>
   * <li><code>multi-asian</code> — auto-detects across <code>zh</code>, <code>ko</code>, <code>ja</code>, <code>en</code>.</li>
   * </ul>
   * <p>Omitting <code>language</code> routes to <code>multi-eu</code>. See the <a href="/waves/model-cards/speech-to-text/pulse">Pulse model card</a> for the full table.</p>
   */
  @JsonProperty("language")
  public Optional<TranscribePulseWavesRequestLanguage> getLanguage() {
    return language;
  }

  /**
   * @return Audio encoding of the bytes you upload. Mirrors the <code>encoding</code>
   * parameter on the realtime WS endpoint.
   * <ul>
   * <li><code>linear16</code>, <code>linear32</code> — raw PCM (16-bit and 32-bit)</li>
   * <li><code>alaw</code>, <code>mulaw</code> — 8 kHz telephony codecs</li>
   * <li><code>opus</code>, <code>ogg_opus</code> — Opus compressed audio (raw and Ogg container)</li>
   * </ul>
   * <p>When omitted, the server detects the format from the file's
   * container header (works for <code>.wav</code>, <code>.mp3</code>, <code>.flac</code>, <code>.ogg</code>,
   * <code>.m4a</code>, <code>.webm</code>).</p>
   */
  @JsonProperty("encoding")
  public Optional<TranscribePulseWavesRequestEncoding> getEncoding() {
    return encoding;
  }

  @JsonProperty("webhook_url")
  public Optional<String> getWebhookUrl() {
    return webhookUrl;
  }

  @JsonProperty("webhook_extra")
  public Optional<String> getWebhookExtra() {
    return webhookExtra;
  }

  /**
   * @return Whether to include word and utterance level timestamps in the response
   */
  @JsonProperty("word_timestamps")
  public Optional<Boolean> getWordTimestamps() {
    return wordTimestamps;
  }

  /**
   * @return Whether to perform speaker diarization
   */
  @JsonProperty("diarize")
  public Optional<Boolean> getDiarize() {
    return diarize;
  }

  /**
   * @return Whether to predict the gender of the speaker
   */
  @JsonProperty("gender_detection")
  public Optional<TranscribePulseWavesRequestGenderDetection> getGenderDetection() {
    return genderDetection;
  }

  /**
   * @return Whether to predict speaker emotions
   */
  @JsonProperty("emotion_detection")
  public Optional<TranscribePulseWavesRequestEmotionDetection> getEmotionDetection() {
    return emotionDetection;
  }

  /**
   * @return Master formatting switch for the transcript. When <code>false</code>, forces
   * <code>punctuate=false</code>, <code>capitalize=false</code>, and also disables Inverse
   * Text Normalization (ITN) so it cannot silently reintroduce
   * punctuation or casing.
   * <p>When <code>true</code>, the <code>punctuate</code> and <code>capitalize</code> params take effect
   * independently. Leave <code>format=true</code> and use those two to fine-tune.</p>
   */
  @JsonProperty("format")
  public Optional<TranscribePulseWavesRequestFormat> getFormat() {
    return format;
  }

  /**
   * @return When <code>false</code>, strips end-of-sentence punctuation (<code>.</code>, <code>,</code>, <code>?</code>, <code>!</code>)
   * from the transcript, <code>words[].word</code>, and
   * <code>utterances[].transcript</code>. Does not affect casing — use
   * <code>capitalize</code> for that. Overridden to <code>false</code> when <code>format=false</code>.
   */
  @JsonProperty("punctuate")
  public Optional<TranscribePulseWavesRequestPunctuate> getPunctuate() {
    return punctuate;
  }

  /**
   * @return When <code>false</code>, lowercases the entire transcript output (transcript,
   * <code>words[].word</code>, and <code>utterances[].transcript</code>). Does not affect
   * punctuation — use <code>punctuate</code> for that. Overridden to <code>false</code>
   * when <code>format=false</code>.
   */
  @JsonProperty("capitalize")
  public Optional<TranscribePulseWavesRequestCapitalize> getCapitalize() {
    return capitalize;
  }

  @JsonProperty("body")
  public byte[] getBody() {
    return body;
  }

  @java.lang.Override
  public boolean equals(Object other) {
    if (this == other) return true;
    return other instanceof TranscribePulseWavesRequest && equalTo((TranscribePulseWavesRequest) other);
  }

  @JsonAnyGetter
  public Map<String, Object> getAdditionalProperties() {
    return this.additionalProperties;
  }

  private boolean equalTo(TranscribePulseWavesRequest other) {
    return language.equals(other.language) && encoding.equals(other.encoding) && webhookUrl.equals(other.webhookUrl) && webhookExtra.equals(other.webhookExtra) && wordTimestamps.equals(other.wordTimestamps) && diarize.equals(other.diarize) && genderDetection.equals(other.genderDetection) && emotionDetection.equals(other.emotionDetection) && format.equals(other.format) && punctuate.equals(other.punctuate) && capitalize.equals(other.capitalize) && body.equals(other.body);
  }

  @java.lang.Override
  public int hashCode() {
    return Objects.hash(this.language, this.encoding, this.webhookUrl, this.webhookExtra, this.wordTimestamps, this.diarize, this.genderDetection, this.emotionDetection, this.format, this.punctuate, this.capitalize, this.body);
  }

  @java.lang.Override
  public String toString() {
    return ObjectMappers.stringify(this);
  }

  public static BodyStage builder() {
    return new Builder();
  }

  public interface BodyStage {
    _FinalStage body(@NotNull byte[] body);

    Builder from(TranscribePulseWavesRequest other);
  }

  public interface _FinalStage {
    TranscribePulseWavesRequest build();

    _FinalStage additionalProperty(String key, Object value);

    _FinalStage additionalProperties(Map<String, Object> additionalProperties);

    /**
     * <p>Language of the audio file. Set explicitly to the known language for best accuracy.</p>
     * <p><strong>26 single-language codes</strong> on this endpoint: <code>en</code>, <code>hi</code>, <code>de</code>, <code>es</code>, <code>ru</code>, <code>it</code>, <code>fr</code>, <code>nl</code>, <code>pt</code>, <code>uk</code>, <code>pl</code>, <code>cs</code>, <code>sk</code>, <code>lv</code>, <code>et</code>, <code>ro</code>, <code>fi</code>, <code>sv</code>, <code>bg</code>, <code>hu</code>, <code>da</code>, <code>lt</code>, <code>mt</code>, <code>zh</code>, <code>ja</code>, <code>ko</code>.</p>
     * <p><strong>Regional auto-detect aggregators</strong> for unknown audio:</p>
     * <ul>
     * <li><code>multi-eu</code> (default) — auto-detects across all 21 European codes above plus <code>en</code>.</li>
     * <li><code>multi-asian</code> — auto-detects across <code>zh</code>, <code>ko</code>, <code>ja</code>, <code>en</code>.</li>
     * </ul>
     * <p>Omitting <code>language</code> routes to <code>multi-eu</code>. See the <a href="/waves/model-cards/speech-to-text/pulse">Pulse model card</a> for the full table.</p>
     */
    _FinalStage language(Optional<TranscribePulseWavesRequestLanguage> language);

    _FinalStage language(TranscribePulseWavesRequestLanguage language);

    /**
     * <p>Audio encoding of the bytes you upload. Mirrors the <code>encoding</code>
     * parameter on the realtime WS endpoint.</p>
     * <ul>
     * <li><code>linear16</code>, <code>linear32</code> — raw PCM (16-bit and 32-bit)</li>
     * <li><code>alaw</code>, <code>mulaw</code> — 8 kHz telephony codecs</li>
     * <li><code>opus</code>, <code>ogg_opus</code> — Opus compressed audio (raw and Ogg container)</li>
     * </ul>
     * <p>When omitted, the server detects the format from the file's
     * container header (works for <code>.wav</code>, <code>.mp3</code>, <code>.flac</code>, <code>.ogg</code>,
     * <code>.m4a</code>, <code>.webm</code>).</p>
     */
    _FinalStage encoding(Optional<TranscribePulseWavesRequestEncoding> encoding);

    _FinalStage encoding(TranscribePulseWavesRequestEncoding encoding);

    _FinalStage webhookUrl(Optional<String> webhookUrl);

    _FinalStage webhookUrl(String webhookUrl);

    _FinalStage webhookExtra(Optional<String> webhookExtra);

    _FinalStage webhookExtra(String webhookExtra);

    /**
     * <p>Whether to include word and utterance level timestamps in the response</p>
     */
    _FinalStage wordTimestamps(Optional<Boolean> wordTimestamps);

    _FinalStage wordTimestamps(Boolean wordTimestamps);

    /**
     * <p>Whether to perform speaker diarization</p>
     */
    _FinalStage diarize(Optional<Boolean> diarize);

    _FinalStage diarize(Boolean diarize);

    /**
     * <p>Whether to predict the gender of the speaker</p>
     */
    _FinalStage genderDetection(
        Optional<TranscribePulseWavesRequestGenderDetection> genderDetection);

    _FinalStage genderDetection(TranscribePulseWavesRequestGenderDetection genderDetection);

    /**
     * <p>Whether to predict speaker emotions</p>
     */
    _FinalStage emotionDetection(
        Optional<TranscribePulseWavesRequestEmotionDetection> emotionDetection);

    _FinalStage emotionDetection(TranscribePulseWavesRequestEmotionDetection emotionDetection);

    /**
     * <p>Master formatting switch for the transcript. When <code>false</code>, forces
     * <code>punctuate=false</code>, <code>capitalize=false</code>, and also disables Inverse
     * Text Normalization (ITN) so it cannot silently reintroduce
     * punctuation or casing.</p>
     * <p>When <code>true</code>, the <code>punctuate</code> and <code>capitalize</code> params take effect
     * independently. Leave <code>format=true</code> and use those two to fine-tune.</p>
     */
    _FinalStage format(Optional<TranscribePulseWavesRequestFormat> format);

    _FinalStage format(TranscribePulseWavesRequestFormat format);

    /**
     * <p>When <code>false</code>, strips end-of-sentence punctuation (<code>.</code>, <code>,</code>, <code>?</code>, <code>!</code>)
     * from the transcript, <code>words[].word</code>, and
     * <code>utterances[].transcript</code>. Does not affect casing — use
     * <code>capitalize</code> for that. Overridden to <code>false</code> when <code>format=false</code>.</p>
     */
    _FinalStage punctuate(Optional<TranscribePulseWavesRequestPunctuate> punctuate);

    _FinalStage punctuate(TranscribePulseWavesRequestPunctuate punctuate);

    /**
     * <p>When <code>false</code>, lowercases the entire transcript output (transcript,
     * <code>words[].word</code>, and <code>utterances[].transcript</code>). Does not affect
     * punctuation — use <code>punctuate</code> for that. Overridden to <code>false</code>
     * when <code>format=false</code>.</p>
     */
    _FinalStage capitalize(Optional<TranscribePulseWavesRequestCapitalize> capitalize);

    _FinalStage capitalize(TranscribePulseWavesRequestCapitalize capitalize);
  }

  @JsonIgnoreProperties(
      ignoreUnknown = true
  )
  public static final class Builder implements BodyStage, _FinalStage {
    private byte[] body;

    private Optional<TranscribePulseWavesRequestCapitalize> capitalize = Optional.empty();

    private Optional<TranscribePulseWavesRequestPunctuate> punctuate = Optional.empty();

    private Optional<TranscribePulseWavesRequestFormat> format = Optional.empty();

    private Optional<TranscribePulseWavesRequestEmotionDetection> emotionDetection = Optional.empty();

    private Optional<TranscribePulseWavesRequestGenderDetection> genderDetection = Optional.empty();

    private Optional<Boolean> diarize = Optional.empty();

    private Optional<Boolean> wordTimestamps = Optional.empty();

    private Optional<String> webhookExtra = Optional.empty();

    private Optional<String> webhookUrl = Optional.empty();

    private Optional<TranscribePulseWavesRequestEncoding> encoding = Optional.empty();

    private Optional<TranscribePulseWavesRequestLanguage> language = Optional.empty();

    @JsonAnySetter
    private Map<String, Object> additionalProperties = new HashMap<>();

    private Builder() {
    }

    @java.lang.Override
    public Builder from(TranscribePulseWavesRequest other) {
      language(other.getLanguage());
      encoding(other.getEncoding());
      webhookUrl(other.getWebhookUrl());
      webhookExtra(other.getWebhookExtra());
      wordTimestamps(other.getWordTimestamps());
      diarize(other.getDiarize());
      genderDetection(other.getGenderDetection());
      emotionDetection(other.getEmotionDetection());
      format(other.getFormat());
      punctuate(other.getPunctuate());
      capitalize(other.getCapitalize());
      body(other.getBody());
      return this;
    }

    @java.lang.Override
    @JsonSetter("body")
    public _FinalStage body(@NotNull byte[] body) {
      this.body = Objects.requireNonNull(body, "body must not be null");
      return this;
    }

    /**
     * <p>When <code>false</code>, lowercases the entire transcript output (transcript,
     * <code>words[].word</code>, and <code>utterances[].transcript</code>). Does not affect
     * punctuation — use <code>punctuate</code> for that. Overridden to <code>false</code>
     * when <code>format=false</code>.</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage capitalize(TranscribePulseWavesRequestCapitalize capitalize) {
      this.capitalize = Optional.ofNullable(capitalize);
      return this;
    }

    /**
     * <p>When <code>false</code>, lowercases the entire transcript output (transcript,
     * <code>words[].word</code>, and <code>utterances[].transcript</code>). Does not affect
     * punctuation — use <code>punctuate</code> for that. Overridden to <code>false</code>
     * when <code>format=false</code>.</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "capitalize",
        nulls = Nulls.SKIP
    )
    public _FinalStage capitalize(Optional<TranscribePulseWavesRequestCapitalize> capitalize) {
      this.capitalize = capitalize;
      return this;
    }

    /**
     * <p>When <code>false</code>, strips end-of-sentence punctuation (<code>.</code>, <code>,</code>, <code>?</code>, <code>!</code>)
     * from the transcript, <code>words[].word</code>, and
     * <code>utterances[].transcript</code>. Does not affect casing — use
     * <code>capitalize</code> for that. Overridden to <code>false</code> when <code>format=false</code>.</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage punctuate(TranscribePulseWavesRequestPunctuate punctuate) {
      this.punctuate = Optional.ofNullable(punctuate);
      return this;
    }

    /**
     * <p>When <code>false</code>, strips end-of-sentence punctuation (<code>.</code>, <code>,</code>, <code>?</code>, <code>!</code>)
     * from the transcript, <code>words[].word</code>, and
     * <code>utterances[].transcript</code>. Does not affect casing — use
     * <code>capitalize</code> for that. Overridden to <code>false</code> when <code>format=false</code>.</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "punctuate",
        nulls = Nulls.SKIP
    )
    public _FinalStage punctuate(Optional<TranscribePulseWavesRequestPunctuate> punctuate) {
      this.punctuate = punctuate;
      return this;
    }

    /**
     * <p>Master formatting switch for the transcript. When <code>false</code>, forces
     * <code>punctuate=false</code>, <code>capitalize=false</code>, and also disables Inverse
     * Text Normalization (ITN) so it cannot silently reintroduce
     * punctuation or casing.</p>
     * <p>When <code>true</code>, the <code>punctuate</code> and <code>capitalize</code> params take effect
     * independently. Leave <code>format=true</code> and use those two to fine-tune.</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage format(TranscribePulseWavesRequestFormat format) {
      this.format = Optional.ofNullable(format);
      return this;
    }

    /**
     * <p>Master formatting switch for the transcript. When <code>false</code>, forces
     * <code>punctuate=false</code>, <code>capitalize=false</code>, and also disables Inverse
     * Text Normalization (ITN) so it cannot silently reintroduce
     * punctuation or casing.</p>
     * <p>When <code>true</code>, the <code>punctuate</code> and <code>capitalize</code> params take effect
     * independently. Leave <code>format=true</code> and use those two to fine-tune.</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "format",
        nulls = Nulls.SKIP
    )
    public _FinalStage format(Optional<TranscribePulseWavesRequestFormat> format) {
      this.format = format;
      return this;
    }

    /**
     * <p>Whether to predict speaker emotions</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage emotionDetection(
        TranscribePulseWavesRequestEmotionDetection emotionDetection) {
      this.emotionDetection = Optional.ofNullable(emotionDetection);
      return this;
    }

    /**
     * <p>Whether to predict speaker emotions</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "emotion_detection",
        nulls = Nulls.SKIP
    )
    public _FinalStage emotionDetection(
        Optional<TranscribePulseWavesRequestEmotionDetection> emotionDetection) {
      this.emotionDetection = emotionDetection;
      return this;
    }

    /**
     * <p>Whether to predict the gender of the speaker</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage genderDetection(TranscribePulseWavesRequestGenderDetection genderDetection) {
      this.genderDetection = Optional.ofNullable(genderDetection);
      return this;
    }

    /**
     * <p>Whether to predict the gender of the speaker</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "gender_detection",
        nulls = Nulls.SKIP
    )
    public _FinalStage genderDetection(
        Optional<TranscribePulseWavesRequestGenderDetection> genderDetection) {
      this.genderDetection = genderDetection;
      return this;
    }

    /**
     * <p>Whether to perform speaker diarization</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage diarize(Boolean diarize) {
      this.diarize = Optional.ofNullable(diarize);
      return this;
    }

    /**
     * <p>Whether to perform speaker diarization</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "diarize",
        nulls = Nulls.SKIP
    )
    public _FinalStage diarize(Optional<Boolean> diarize) {
      this.diarize = diarize;
      return this;
    }

    /**
     * <p>Whether to include word and utterance level timestamps in the response</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage wordTimestamps(Boolean wordTimestamps) {
      this.wordTimestamps = Optional.ofNullable(wordTimestamps);
      return this;
    }

    /**
     * <p>Whether to include word and utterance level timestamps in the response</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "word_timestamps",
        nulls = Nulls.SKIP
    )
    public _FinalStage wordTimestamps(Optional<Boolean> wordTimestamps) {
      this.wordTimestamps = wordTimestamps;
      return this;
    }

    @java.lang.Override
    public _FinalStage webhookExtra(String webhookExtra) {
      this.webhookExtra = Optional.ofNullable(webhookExtra);
      return this;
    }

    @java.lang.Override
    @JsonSetter(
        value = "webhook_extra",
        nulls = Nulls.SKIP
    )
    public _FinalStage webhookExtra(Optional<String> webhookExtra) {
      this.webhookExtra = webhookExtra;
      return this;
    }

    @java.lang.Override
    public _FinalStage webhookUrl(String webhookUrl) {
      this.webhookUrl = Optional.ofNullable(webhookUrl);
      return this;
    }

    @java.lang.Override
    @JsonSetter(
        value = "webhook_url",
        nulls = Nulls.SKIP
    )
    public _FinalStage webhookUrl(Optional<String> webhookUrl) {
      this.webhookUrl = webhookUrl;
      return this;
    }

    /**
     * <p>Audio encoding of the bytes you upload. Mirrors the <code>encoding</code>
     * parameter on the realtime WS endpoint.</p>
     * <ul>
     * <li><code>linear16</code>, <code>linear32</code> — raw PCM (16-bit and 32-bit)</li>
     * <li><code>alaw</code>, <code>mulaw</code> — 8 kHz telephony codecs</li>
     * <li><code>opus</code>, <code>ogg_opus</code> — Opus compressed audio (raw and Ogg container)</li>
     * </ul>
     * <p>When omitted, the server detects the format from the file's
     * container header (works for <code>.wav</code>, <code>.mp3</code>, <code>.flac</code>, <code>.ogg</code>,
     * <code>.m4a</code>, <code>.webm</code>).</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage encoding(TranscribePulseWavesRequestEncoding encoding) {
      this.encoding = Optional.ofNullable(encoding);
      return this;
    }

    /**
     * <p>Audio encoding of the bytes you upload. Mirrors the <code>encoding</code>
     * parameter on the realtime WS endpoint.</p>
     * <ul>
     * <li><code>linear16</code>, <code>linear32</code> — raw PCM (16-bit and 32-bit)</li>
     * <li><code>alaw</code>, <code>mulaw</code> — 8 kHz telephony codecs</li>
     * <li><code>opus</code>, <code>ogg_opus</code> — Opus compressed audio (raw and Ogg container)</li>
     * </ul>
     * <p>When omitted, the server detects the format from the file's
     * container header (works for <code>.wav</code>, <code>.mp3</code>, <code>.flac</code>, <code>.ogg</code>,
     * <code>.m4a</code>, <code>.webm</code>).</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "encoding",
        nulls = Nulls.SKIP
    )
    public _FinalStage encoding(Optional<TranscribePulseWavesRequestEncoding> encoding) {
      this.encoding = encoding;
      return this;
    }

    /**
     * <p>Language of the audio file. Set explicitly to the known language for best accuracy.</p>
     * <p><strong>26 single-language codes</strong> on this endpoint: <code>en</code>, <code>hi</code>, <code>de</code>, <code>es</code>, <code>ru</code>, <code>it</code>, <code>fr</code>, <code>nl</code>, <code>pt</code>, <code>uk</code>, <code>pl</code>, <code>cs</code>, <code>sk</code>, <code>lv</code>, <code>et</code>, <code>ro</code>, <code>fi</code>, <code>sv</code>, <code>bg</code>, <code>hu</code>, <code>da</code>, <code>lt</code>, <code>mt</code>, <code>zh</code>, <code>ja</code>, <code>ko</code>.</p>
     * <p><strong>Regional auto-detect aggregators</strong> for unknown audio:</p>
     * <ul>
     * <li><code>multi-eu</code> (default) — auto-detects across all 21 European codes above plus <code>en</code>.</li>
     * <li><code>multi-asian</code> — auto-detects across <code>zh</code>, <code>ko</code>, <code>ja</code>, <code>en</code>.</li>
     * </ul>
     * <p>Omitting <code>language</code> routes to <code>multi-eu</code>. See the <a href="/waves/model-cards/speech-to-text/pulse">Pulse model card</a> for the full table.</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage language(TranscribePulseWavesRequestLanguage language) {
      this.language = Optional.ofNullable(language);
      return this;
    }

    /**
     * <p>Language of the audio file. Set explicitly to the known language for best accuracy.</p>
     * <p><strong>26 single-language codes</strong> on this endpoint: <code>en</code>, <code>hi</code>, <code>de</code>, <code>es</code>, <code>ru</code>, <code>it</code>, <code>fr</code>, <code>nl</code>, <code>pt</code>, <code>uk</code>, <code>pl</code>, <code>cs</code>, <code>sk</code>, <code>lv</code>, <code>et</code>, <code>ro</code>, <code>fi</code>, <code>sv</code>, <code>bg</code>, <code>hu</code>, <code>da</code>, <code>lt</code>, <code>mt</code>, <code>zh</code>, <code>ja</code>, <code>ko</code>.</p>
     * <p><strong>Regional auto-detect aggregators</strong> for unknown audio:</p>
     * <ul>
     * <li><code>multi-eu</code> (default) — auto-detects across all 21 European codes above plus <code>en</code>.</li>
     * <li><code>multi-asian</code> — auto-detects across <code>zh</code>, <code>ko</code>, <code>ja</code>, <code>en</code>.</li>
     * </ul>
     * <p>Omitting <code>language</code> routes to <code>multi-eu</code>. See the <a href="/waves/model-cards/speech-to-text/pulse">Pulse model card</a> for the full table.</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "language",
        nulls = Nulls.SKIP
    )
    public _FinalStage language(Optional<TranscribePulseWavesRequestLanguage> language) {
      this.language = language;
      return this;
    }

    @java.lang.Override
    public TranscribePulseWavesRequest build() {
      return new TranscribePulseWavesRequest(language, encoding, webhookUrl, webhookExtra, wordTimestamps, diarize, genderDetection, emotionDetection, format, punctuate, capitalize, body, additionalProperties);
    }

    @java.lang.Override
    public Builder additionalProperty(String key, Object value) {
      this.additionalProperties.put(key, value);
      return this;
    }

    @java.lang.Override
    public Builder additionalProperties(Map<String, Object> additionalProperties) {
      this.additionalProperties.putAll(additionalProperties);
      return this;
    }
  }
}
