/**
 * This file was auto-generated by Fern from our API Definition.
 */

package ai.smallest.resources.atoms.calls;

import ai.smallest.core.ClientOptions;
import ai.smallest.core.RequestOptions;
import ai.smallest.resources.atoms.calls.requests.GetCallsRequest;
import ai.smallest.resources.atoms.calls.requests.ListCallsRequest;
import ai.smallest.resources.atoms.calls.requests.SearchCallsRequest;
import ai.smallest.resources.atoms.calls.requests.StartOutboundCallCallsRequest;
import ai.smallest.resources.atoms.calls.types.GetCallsResponse;
import ai.smallest.resources.atoms.calls.types.ListCallsResponse;
import ai.smallest.resources.atoms.calls.types.SearchCallsResponse;
import ai.smallest.resources.atoms.calls.types.StartOutboundCallCallsResponse;
import java.lang.String;
import java.util.concurrent.CompletableFuture;

public class AsyncCallsClient {
  protected final ClientOptions clientOptions;

  private final AsyncRawCallsClient rawClient;

  public AsyncCallsClient(ClientOptions clientOptions) {
    this.clientOptions = clientOptions;
    this.rawClient = new AsyncRawCallsClient(clientOptions);
  }

  /**
   * Get responses with HTTP metadata like headers
   */
  public AsyncRawCallsClient withRawResponse() {
    return this.rawClient;
  }

  /**
   * Retrieve paginated conversation logs with support for various filters. Returns call logs for agents belonging to the authenticated user's organization.
   */
  public CompletableFuture<ListCallsResponse> list() {
    return this.rawClient.list().thenApply(response -> response.body());
  }

  /**
   * Retrieve paginated conversation logs with support for various filters. Returns call logs for agents belonging to the authenticated user's organization.
   */
  public CompletableFuture<ListCallsResponse> list(RequestOptions requestOptions) {
    return this.rawClient.list(requestOptions).thenApply(response -> response.body());
  }

  /**
   * Retrieve paginated conversation logs with support for various filters. Returns call logs for agents belonging to the authenticated user's organization.
   */
  public CompletableFuture<ListCallsResponse> list(ListCallsRequest request) {
    return this.rawClient.list(request).thenApply(response -> response.body());
  }

  /**
   * Retrieve paginated conversation logs with support for various filters. Returns call logs for agents belonging to the authenticated user's organization.
   */
  public CompletableFuture<ListCallsResponse> list(ListCallsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.list(request, requestOptions).thenApply(response -> response.body());
  }

  /**
   * Fetch specific conversation logs by their callIds. This endpoint allows you to retrieve up to 100 specific calls at once.
   * Only returns calls that belong to agents in your organization (security check enforced).
   * Unlike the GET /conversation endpoint, this endpoint can also return retry calls (non-root calls).
   * <p><strong>Differences from GET /conversation response:</strong> each log item has the same base structure but
   * the following three fields are <strong>not</strong> included here:</p>
   * <ul>
   * <li><code>dispositionMetrics</code> — not enriched</li>
   * <li><code>agentDispositionConfig</code> — not enriched</li>
   * <li><code>versionNumber</code> — not enriched</li>
   * </ul>
   */
  public CompletableFuture<SearchCallsResponse> search(SearchCallsRequest request) {
    return this.rawClient.search(request).thenApply(response -> response.body());
  }

  /**
   * Fetch specific conversation logs by their callIds. This endpoint allows you to retrieve up to 100 specific calls at once.
   * Only returns calls that belong to agents in your organization (security check enforced).
   * Unlike the GET /conversation endpoint, this endpoint can also return retry calls (non-root calls).
   * <p><strong>Differences from GET /conversation response:</strong> each log item has the same base structure but
   * the following three fields are <strong>not</strong> included here:</p>
   * <ul>
   * <li><code>dispositionMetrics</code> — not enriched</li>
   * <li><code>agentDispositionConfig</code> — not enriched</li>
   * <li><code>versionNumber</code> — not enriched</li>
   * </ul>
   */
  public CompletableFuture<SearchCallsResponse> search(SearchCallsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.search(request, requestOptions).thenApply(response -> response.body());
  }

  /**
   * Retrieve detailed information about a specific conversation including transcript, events, and latency metrics.
   */
  public CompletableFuture<GetCallsResponse> get(String id) {
    return this.rawClient.get(id).thenApply(response -> response.body());
  }

  /**
   * Retrieve detailed information about a specific conversation including transcript, events, and latency metrics.
   */
  public CompletableFuture<GetCallsResponse> get(String id, RequestOptions requestOptions) {
    return this.rawClient.get(id, requestOptions).thenApply(response -> response.body());
  }

  /**
   * Retrieve detailed information about a specific conversation including transcript, events, and latency metrics.
   */
  public CompletableFuture<GetCallsResponse> get(String id, GetCallsRequest request) {
    return this.rawClient.get(id, request).thenApply(response -> response.body());
  }

  /**
   * Retrieve detailed information about a specific conversation including transcript, events, and latency metrics.
   */
  public CompletableFuture<GetCallsResponse> get(String id, GetCallsRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.get(id, request, requestOptions).thenApply(response -> response.body());
  }

  /**
   * Initiates an outbound telephony call with a specified agent and phone number.
   * <h2>Caller-ID resolution</h2>
   * <p>When <code>fromProductId</code> is omitted <strong>and</strong> the agent has no telephony
   * product attached, the call dispatches from a Smallest-managed Plivo
   * trunk using a default caller-ID number (chosen by destination
   * country). The call still places and the response is still
   * <code>200 + conversationId</code>, but the recipient sees the default Smallest
   * number rather than your own. For production traffic, either:</p>
   * <ul>
   * <li>pass <code>fromProductId</code> explicitly (look up your owned numbers via
   * <code>GET /product/phone-numbers</code>), or</li>
   * <li>attach a phone-number product to the agent.</li>
   * </ul>
   * <h2>Resolved-config check</h2>
   * <p>The call uses the agent's currently-active version. If your most
   * recent prompt change went through <code>PATCH /workflow/{workflowId}</code> and
   * the agent has versioning enabled, that change may not have
   * propagated to the active version — and the call will play the
   * platform-default greeting instead of your prompt. Before placing a
   * production call, fetch <code>GET /agent/{agentId}</code> and confirm
   * <code>_resolvedConfig.firstMessage</code> (and related fields) match what you
   * intended. The
   * <a href="/atoms/developer-guide/build/agents/versioning-lifecycle">Versioning Lifecycle</a>
   * guide covers the correct edit flow.</p>
   * <p><strong>400 is returned for:</strong></p>
   * <ul>
   * <li>Invalid <code>agentId</code> format (<code>&quot;Invalid agent id&quot;</code>)</li>
   * <li>Invalid <code>phoneNumber</code> format (<code>&quot;Invalid phone number&quot;</code>)</li>
   * <li>Invalid <code>fromProductId</code> format (<code>&quot;Invalid product id&quot;</code>)</li>
   * <li>Agent not found or not in the caller's org (<code>&quot;Agent not found&quot;</code>)</li>
   * <li>Agent is archived (<code>&quot;Agent is archived and cannot initiate calls&quot;</code>)</li>
   * <li><code>workflow_graph</code> agent has no workflow configured (<code>&quot;Workflow not found&quot;</code>)</li>
   * <li>Workflow has validation errors (<code>&quot;Invalid workflow, please fix the errors...&quot;</code>)</li>
   * </ul>
   * <p><strong>403</strong> is returned for <code>workflow_graph</code> agents when the org lacks conversational agents access.</p>
   * <p><strong>Test calls:</strong> set the <code>x-test-call: true</code> header to mark the resulting call log as a test call
   * (<code>isTest: true</code>). Test calls are subject to concurrent slot limits.</p>
   */
  public CompletableFuture<StartOutboundCallCallsResponse> startOutboundCall(
      StartOutboundCallCallsRequest request) {
    return this.rawClient.startOutboundCall(request).thenApply(response -> response.body());
  }

  /**
   * Initiates an outbound telephony call with a specified agent and phone number.
   * <h2>Caller-ID resolution</h2>
   * <p>When <code>fromProductId</code> is omitted <strong>and</strong> the agent has no telephony
   * product attached, the call dispatches from a Smallest-managed Plivo
   * trunk using a default caller-ID number (chosen by destination
   * country). The call still places and the response is still
   * <code>200 + conversationId</code>, but the recipient sees the default Smallest
   * number rather than your own. For production traffic, either:</p>
   * <ul>
   * <li>pass <code>fromProductId</code> explicitly (look up your owned numbers via
   * <code>GET /product/phone-numbers</code>), or</li>
   * <li>attach a phone-number product to the agent.</li>
   * </ul>
   * <h2>Resolved-config check</h2>
   * <p>The call uses the agent's currently-active version. If your most
   * recent prompt change went through <code>PATCH /workflow/{workflowId}</code> and
   * the agent has versioning enabled, that change may not have
   * propagated to the active version — and the call will play the
   * platform-default greeting instead of your prompt. Before placing a
   * production call, fetch <code>GET /agent/{agentId}</code> and confirm
   * <code>_resolvedConfig.firstMessage</code> (and related fields) match what you
   * intended. The
   * <a href="/atoms/developer-guide/build/agents/versioning-lifecycle">Versioning Lifecycle</a>
   * guide covers the correct edit flow.</p>
   * <p><strong>400 is returned for:</strong></p>
   * <ul>
   * <li>Invalid <code>agentId</code> format (<code>&quot;Invalid agent id&quot;</code>)</li>
   * <li>Invalid <code>phoneNumber</code> format (<code>&quot;Invalid phone number&quot;</code>)</li>
   * <li>Invalid <code>fromProductId</code> format (<code>&quot;Invalid product id&quot;</code>)</li>
   * <li>Agent not found or not in the caller's org (<code>&quot;Agent not found&quot;</code>)</li>
   * <li>Agent is archived (<code>&quot;Agent is archived and cannot initiate calls&quot;</code>)</li>
   * <li><code>workflow_graph</code> agent has no workflow configured (<code>&quot;Workflow not found&quot;</code>)</li>
   * <li>Workflow has validation errors (<code>&quot;Invalid workflow, please fix the errors...&quot;</code>)</li>
   * </ul>
   * <p><strong>403</strong> is returned for <code>workflow_graph</code> agents when the org lacks conversational agents access.</p>
   * <p><strong>Test calls:</strong> set the <code>x-test-call: true</code> header to mark the resulting call log as a test call
   * (<code>isTest: true</code>). Test calls are subject to concurrent slot limits.</p>
   */
  public CompletableFuture<StartOutboundCallCallsResponse> startOutboundCall(
      StartOutboundCallCallsRequest request, RequestOptions requestOptions) {
    return this.rawClient.startOutboundCall(request, requestOptions).thenApply(response -> response.body());
  }
}
