/**
 * This file was auto-generated by Fern from our API Definition.
 */

package ai.smallest.resources.waves.speechtospeech.websocket;

import ai.smallest.core.ClientOptions;
import ai.smallest.core.DisconnectReason;
import ai.smallest.core.ObjectMappers;
import ai.smallest.core.ReconnectingWebSocketListener;
import ai.smallest.core.RequestOptions;
import ai.smallest.core.WebSocketReadyState;
import ai.smallest.resources.waves.speechtospeech.types.ConversationItemAdded;
import ai.smallest.resources.waves.speechtospeech.types.ConversationItemCreate;
import ai.smallest.resources.waves.speechtospeech.types.ConversationItemDone;
import ai.smallest.resources.waves.speechtospeech.types.ErrorEvent;
import ai.smallest.resources.waves.speechtospeech.types.InputAudioBufferAppend;
import ai.smallest.resources.waves.speechtospeech.types.InputAudioBufferSpeechStarted;
import ai.smallest.resources.waves.speechtospeech.types.InputAudioBufferSpeechStopped;
import ai.smallest.resources.waves.speechtospeech.types.ResponseCancel;
import ai.smallest.resources.waves.speechtospeech.types.ResponseCreate;
import ai.smallest.resources.waves.speechtospeech.types.ResponseCreated;
import ai.smallest.resources.waves.speechtospeech.types.ResponseDone;
import ai.smallest.resources.waves.speechtospeech.types.ResponseFunctionCallArgumentsDelta;
import ai.smallest.resources.waves.speechtospeech.types.ResponseFunctionCallArgumentsDone;
import ai.smallest.resources.waves.speechtospeech.types.ResponseOutputAudioDelta;
import ai.smallest.resources.waves.speechtospeech.types.ResponseOutputAudioDone;
import ai.smallest.resources.waves.speechtospeech.types.SessionConfigure;
import ai.smallest.resources.waves.speechtospeech.types.SessionConfigured;
import ai.smallest.resources.waves.speechtospeech.types.SessionCreated;
import ai.smallest.resources.waves.speechtospeech.types.SessionUpdate;
import ai.smallest.resources.waves.speechtospeech.types.SessionUpdated;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.lang.AutoCloseable;
import java.lang.Exception;
import java.lang.IllegalArgumentException;
import java.lang.IllegalStateException;
import java.lang.Math;
import java.lang.Object;
import java.lang.Override;
import java.lang.Runnable;
import java.lang.RuntimeException;
import java.lang.String;
import java.lang.Void;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;
import okio.ByteString;

/**
 * WebSocket client for the speechToSpeech channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class SpeechToSpeechWebSocketClient implements AutoCloseable {
  protected final ClientOptions clientOptions;

  private final ObjectMapper objectMapper;

  private final OkHttpClient okHttpClient;

  private ScheduledExecutorService timeoutExecutor;

  private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

  private volatile Runnable onConnectedHandler;

  private volatile Consumer<DisconnectReason> onDisconnectedHandler;

  private volatile Consumer<Exception> onErrorHandler;

  private volatile Consumer<String> onMessageHandler;

  private volatile ReconnectingWebSocketListener.ReconnectOptions reconnectOptions;

  private CompletableFuture<Void> connectionFuture;

  private ReconnectingWebSocketListener reconnectingListener;

  private volatile Consumer<SessionCreated> sessionCreatedHandler;

  private volatile Consumer<SessionConfigured> sessionConfiguredHandler;

  private volatile Consumer<SessionUpdated> sessionUpdatedHandler;

  private volatile Consumer<InputAudioBufferSpeechStarted> inputAudioBufferSpeechStartedHandler;

  private volatile Consumer<InputAudioBufferSpeechStopped> inputAudioBufferSpeechStoppedHandler;

  private volatile Consumer<ConversationItemAdded> conversationItemAddedHandler;

  private volatile Consumer<ConversationItemDone> conversationItemDoneHandler;

  private volatile Consumer<ResponseCreated> responseCreatedHandler;

  private volatile Consumer<ResponseOutputAudioDelta> responseOutputAudioDeltaHandler;

  private volatile Consumer<ResponseOutputAudioDone> responseOutputAudioDoneHandler;

  private volatile Consumer<ResponseFunctionCallArgumentsDelta> responseFunctionCallArgumentsDeltaHandler;

  private volatile Consumer<ResponseFunctionCallArgumentsDone> responseFunctionCallArgumentsDoneHandler;

  private volatile Consumer<ResponseDone> responseDoneHandler;

  private volatile Consumer<ErrorEvent> errorEventHandler;

  /**
   * Creates a new async WebSocket client for the speechToSpeech channel.
   */
  public SpeechToSpeechWebSocketClient(ClientOptions clientOptions) {
    this.clientOptions = clientOptions;
    this.objectMapper = ObjectMappers.JSON_MAPPER;
    this.okHttpClient = clientOptions.httpClient();
  }

  /**
   * Establishes the WebSocket connection asynchronously with automatic reconnection.
   * @return a CompletableFuture that completes when the connection is established
   */
  public CompletableFuture<Void> connect() {
    connectionFuture = new CompletableFuture<>();
    String baseUrl = clientOptions.environment().getWavesWsURL();
    String fullPath = "/waves/v1/s2s";
    if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
      fullPath = fullPath.substring(1);
    }
    else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
      fullPath = "/" + fullPath;
    }
    // OkHttp's HttpUrl only supports http/https schemes; convert wss/ws for URL parsing
    if (baseUrl.startsWith("wss://")) {
      baseUrl = "https://" + baseUrl.substring(6);
    }
    else if (baseUrl.startsWith("ws://")) {
      baseUrl = "http://" + baseUrl.substring(5);
    }
    HttpUrl parsedUrl = HttpUrl.parse(baseUrl + fullPath);
    if (parsedUrl == null) {
      throw new IllegalArgumentException("Invalid WebSocket URL: " + baseUrl + fullPath);
    }
    HttpUrl.Builder urlBuilder = parsedUrl.newBuilder();
    Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
    clientOptions.headers((RequestOptions) null).forEach(requestBuilder::addHeader);
    final Request request = requestBuilder.build();
    this.readyState = WebSocketReadyState.CONNECTING;
    ReconnectingWebSocketListener.ReconnectOptions reconnectOpts = this.reconnectOptions != null ? this.reconnectOptions : ReconnectingWebSocketListener.ReconnectOptions.builder().build();
    this.reconnectingListener = new ReconnectingWebSocketListener(reconnectOpts, () -> {
        if (clientOptions.webSocketFactory().isPresent()) {
      return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
    }
        else {
      return okHttpClient.newWebSocket(request, this.reconnectingListener);
    }
    }) {
        @Override
        protected void onWebSocketOpen(WebSocket webSocket, Response response) {
            readyState = WebSocketReadyState.OPEN;
            if (onConnectedHandler != null) {
                  onConnectedHandler.run();
    }
            connectionFuture.complete(null);
        }

        @Override
        protected void onWebSocketMessage(WebSocket webSocket, String text) {
            handleIncomingMessage(text);
        }

        @Override
        protected void onWebSocketBinaryMessage(WebSocket webSocket, ByteString bytes) {
        }

        @Override
        protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
            readyState = WebSocketReadyState.CLOSED;
            if (onErrorHandler != null) {
                  onErrorHandler.accept(new RuntimeException(t));
    }
            connectionFuture.completeExceptionally(t);
        }

        @Override
        protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
            readyState = WebSocketReadyState.CLOSED;
            if (onDisconnectedHandler != null) {
          onDisconnectedHandler.accept(new DisconnectReason(code, reason));
    }
        }
    };
    reconnectingListener.connect();
    return connectionFuture;
  }

  /**
   * Disconnects the WebSocket connection and releases resources.
   */
  public void disconnect() {
    reconnectingListener.disconnect();
    if (timeoutExecutor != null) {
      timeoutExecutor.shutdownNow();
      timeoutExecutor = null;
    }
  }

  /**
   * Gets the current state of the WebSocket connection.
   *
   * This provides the actual connection state, similar to the W3C WebSocket API.
   *
   * @return the current WebSocket ready state
   */
  public WebSocketReadyState getReadyState() {
    return readyState;
  }

  /**
   * Sends a sessionConfigure message to the server asynchronously.
   * @param message the message to send
   * @return a CompletableFuture that completes when the message is sent
   */
  public CompletableFuture<Void> sendSessionConfigure(SessionConfigure message) {
    return sendMessage(message);
  }

  /**
   * Sends a sessionUpdate message to the server asynchronously.
   * @param message the message to send
   * @return a CompletableFuture that completes when the message is sent
   */
  public CompletableFuture<Void> sendSessionUpdate(SessionUpdate message) {
    return sendMessage(message);
  }

  /**
   * Sends an inputAudioBufferAppend message to the server asynchronously.
   * @param message the message to send
   * @return a CompletableFuture that completes when the message is sent
   */
  public CompletableFuture<Void> sendInputAudioBufferAppend(InputAudioBufferAppend message) {
    return sendMessage(message);
  }

  /**
   * Sends a conversationItemCreate message to the server asynchronously.
   * @param message the message to send
   * @return a CompletableFuture that completes when the message is sent
   */
  public CompletableFuture<Void> sendConversationItemCreate(ConversationItemCreate message) {
    return sendMessage(message);
  }

  /**
   * Sends a responseCreate message to the server asynchronously.
   * @param message the message to send
   * @return a CompletableFuture that completes when the message is sent
   */
  public CompletableFuture<Void> sendResponseCreate(ResponseCreate message) {
    return sendMessage(message);
  }

  /**
   * Sends a responseCancel message to the server asynchronously.
   * @param message the message to send
   * @return a CompletableFuture that completes when the message is sent
   */
  public CompletableFuture<Void> sendResponseCancel(ResponseCancel message) {
    return sendMessage(message);
  }

  /**
   * Registers a handler for sessionCreated messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onSessionCreated(Consumer<SessionCreated> handler) {
    this.sessionCreatedHandler = handler;
  }

  /**
   * Registers a handler for sessionConfigured messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onSessionConfigured(Consumer<SessionConfigured> handler) {
    this.sessionConfiguredHandler = handler;
  }

  /**
   * Registers a handler for sessionUpdated messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onSessionUpdated(Consumer<SessionUpdated> handler) {
    this.sessionUpdatedHandler = handler;
  }

  /**
   * Registers a handler for inputAudioBufferSpeechStarted messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onInputAudioBufferSpeechStarted(Consumer<InputAudioBufferSpeechStarted> handler) {
    this.inputAudioBufferSpeechStartedHandler = handler;
  }

  /**
   * Registers a handler for inputAudioBufferSpeechStopped messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onInputAudioBufferSpeechStopped(Consumer<InputAudioBufferSpeechStopped> handler) {
    this.inputAudioBufferSpeechStoppedHandler = handler;
  }

  /**
   * Registers a handler for conversationItemAdded messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onConversationItemAdded(Consumer<ConversationItemAdded> handler) {
    this.conversationItemAddedHandler = handler;
  }

  /**
   * Registers a handler for conversationItemDone messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onConversationItemDone(Consumer<ConversationItemDone> handler) {
    this.conversationItemDoneHandler = handler;
  }

  /**
   * Registers a handler for responseCreated messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onResponseCreated(Consumer<ResponseCreated> handler) {
    this.responseCreatedHandler = handler;
  }

  /**
   * Registers a handler for responseOutputAudioDelta messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onResponseOutputAudioDelta(Consumer<ResponseOutputAudioDelta> handler) {
    this.responseOutputAudioDeltaHandler = handler;
  }

  /**
   * Registers a handler for responseOutputAudioDone messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onResponseOutputAudioDone(Consumer<ResponseOutputAudioDone> handler) {
    this.responseOutputAudioDoneHandler = handler;
  }

  /**
   * Registers a handler for responseFunctionCallArgumentsDelta messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onResponseFunctionCallArgumentsDelta(
      Consumer<ResponseFunctionCallArgumentsDelta> handler) {
    this.responseFunctionCallArgumentsDeltaHandler = handler;
  }

  /**
   * Registers a handler for responseFunctionCallArgumentsDone messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onResponseFunctionCallArgumentsDone(
      Consumer<ResponseFunctionCallArgumentsDone> handler) {
    this.responseFunctionCallArgumentsDoneHandler = handler;
  }

  /**
   * Registers a handler for responseDone messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onResponseDone(Consumer<ResponseDone> handler) {
    this.responseDoneHandler = handler;
  }

  /**
   * Registers a handler for errorEvent messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void onErrorEvent(Consumer<ErrorEvent> handler) {
    this.errorEventHandler = handler;
  }

  /**
   * Registers a handler called when the connection is established.
   * @param handler the handler to invoke when connected
   */
  public void onConnected(Runnable handler) {
    this.onConnectedHandler = handler;
  }

  /**
   * Registers a handler called when the connection is closed.
   * @param handler the handler to invoke when disconnected
   */
  public void onDisconnected(Consumer<DisconnectReason> handler) {
    this.onDisconnectedHandler = handler;
  }

  /**
   * Registers a handler called when an error occurs.
   * @param handler the handler to invoke on error
   */
  public void onError(Consumer<Exception> handler) {
    this.onErrorHandler = handler;
  }

  /**
   * Registers a handler called for every incoming text message.
   * The handler receives the raw JSON string before type-specific dispatch.
   * @param handler the handler to invoke with the raw message JSON
   */
  public void onMessage(Consumer<String> handler) {
    this.onMessageHandler = handler;
  }

  /**
   * Configures reconnection behavior. Must be called before {@link #connect}.
   *
   * @param options the reconnection options (backoff, retries, queue size)
   */
  public void reconnectOptions(ReconnectingWebSocketListener.ReconnectOptions options) {
    this.reconnectOptions = options;
  }

  /**
   * Closes this WebSocket client, releasing all resources.
   * Equivalent to calling {@link #disconnect()}.
   */
  @Override
  public void close() {
    disconnect();
  }

  /**
   * Ensures the WebSocket is connected and ready to send messages.
   * @throws IllegalStateException if the socket is not connected or not open
   */
  private void assertSocketIsOpen() {
    if (reconnectingListener.getWebSocket() == null) {
      throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
    }
    if (readyState != WebSocketReadyState.OPEN) {
      throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
    }
  }

  private CompletableFuture<Void> sendMessage(Object body) {
    CompletableFuture<Void> future = new CompletableFuture<>();
    try {
      assertSocketIsOpen();
      String json = objectMapper.writeValueAsString(body);
      // Use reconnecting listener's send method which handles queuing
      reconnectingListener.send(json);
      future.complete(null);
    }
    catch (IllegalStateException e) {
      future.completeExceptionally(e);
    }
    catch (Exception e) {
      future.completeExceptionally(new RuntimeException("Failed to send message", e));
    }
    return future;
  }

  private void handleIncomingMessage(String json) {
    try {
      if (onMessageHandler != null) {
        onMessageHandler.accept(json);
      }
      JsonNode node = objectMapper.readTree(json);
      if (node == null || node.isNull()) {
        throw new IllegalArgumentException("Received null or invalid JSON message");
      }
      SessionCreated sessionCreatedHandlerEvent = null;
      try {
        sessionCreatedHandlerEvent = objectMapper.treeToValue(node, SessionCreated.class);
      } catch (Exception e) {
      }
      if (sessionCreatedHandlerEvent != null) {
        if (sessionCreatedHandler != null) {
          sessionCreatedHandler.accept(sessionCreatedHandlerEvent);
        }
        return;
      }
      SessionConfigured sessionConfiguredHandlerEvent = null;
      try {
        sessionConfiguredHandlerEvent = objectMapper.treeToValue(node, SessionConfigured.class);
      } catch (Exception e) {
      }
      if (sessionConfiguredHandlerEvent != null) {
        if (sessionConfiguredHandler != null) {
          sessionConfiguredHandler.accept(sessionConfiguredHandlerEvent);
        }
        return;
      }
      SessionUpdated sessionUpdatedHandlerEvent = null;
      try {
        sessionUpdatedHandlerEvent = objectMapper.treeToValue(node, SessionUpdated.class);
      } catch (Exception e) {
      }
      if (sessionUpdatedHandlerEvent != null) {
        if (sessionUpdatedHandler != null) {
          sessionUpdatedHandler.accept(sessionUpdatedHandlerEvent);
        }
        return;
      }
      InputAudioBufferSpeechStarted inputAudioBufferSpeechStartedHandlerEvent = null;
      try {
        inputAudioBufferSpeechStartedHandlerEvent = objectMapper.treeToValue(node, InputAudioBufferSpeechStarted.class);
      } catch (Exception e) {
      }
      if (inputAudioBufferSpeechStartedHandlerEvent != null) {
        if (inputAudioBufferSpeechStartedHandler != null) {
          inputAudioBufferSpeechStartedHandler.accept(inputAudioBufferSpeechStartedHandlerEvent);
        }
        return;
      }
      InputAudioBufferSpeechStopped inputAudioBufferSpeechStoppedHandlerEvent = null;
      try {
        inputAudioBufferSpeechStoppedHandlerEvent = objectMapper.treeToValue(node, InputAudioBufferSpeechStopped.class);
      } catch (Exception e) {
      }
      if (inputAudioBufferSpeechStoppedHandlerEvent != null) {
        if (inputAudioBufferSpeechStoppedHandler != null) {
          inputAudioBufferSpeechStoppedHandler.accept(inputAudioBufferSpeechStoppedHandlerEvent);
        }
        return;
      }
      ConversationItemAdded conversationItemAddedHandlerEvent = null;
      try {
        conversationItemAddedHandlerEvent = objectMapper.treeToValue(node, ConversationItemAdded.class);
      } catch (Exception e) {
      }
      if (conversationItemAddedHandlerEvent != null) {
        if (conversationItemAddedHandler != null) {
          conversationItemAddedHandler.accept(conversationItemAddedHandlerEvent);
        }
        return;
      }
      ConversationItemDone conversationItemDoneHandlerEvent = null;
      try {
        conversationItemDoneHandlerEvent = objectMapper.treeToValue(node, ConversationItemDone.class);
      } catch (Exception e) {
      }
      if (conversationItemDoneHandlerEvent != null) {
        if (conversationItemDoneHandler != null) {
          conversationItemDoneHandler.accept(conversationItemDoneHandlerEvent);
        }
        return;
      }
      ResponseCreated responseCreatedHandlerEvent = null;
      try {
        responseCreatedHandlerEvent = objectMapper.treeToValue(node, ResponseCreated.class);
      } catch (Exception e) {
      }
      if (responseCreatedHandlerEvent != null) {
        if (responseCreatedHandler != null) {
          responseCreatedHandler.accept(responseCreatedHandlerEvent);
        }
        return;
      }
      ResponseOutputAudioDelta responseOutputAudioDeltaHandlerEvent = null;
      try {
        responseOutputAudioDeltaHandlerEvent = objectMapper.treeToValue(node, ResponseOutputAudioDelta.class);
      } catch (Exception e) {
      }
      if (responseOutputAudioDeltaHandlerEvent != null) {
        if (responseOutputAudioDeltaHandler != null) {
          responseOutputAudioDeltaHandler.accept(responseOutputAudioDeltaHandlerEvent);
        }
        return;
      }
      ResponseOutputAudioDone responseOutputAudioDoneHandlerEvent = null;
      try {
        responseOutputAudioDoneHandlerEvent = objectMapper.treeToValue(node, ResponseOutputAudioDone.class);
      } catch (Exception e) {
      }
      if (responseOutputAudioDoneHandlerEvent != null) {
        if (responseOutputAudioDoneHandler != null) {
          responseOutputAudioDoneHandler.accept(responseOutputAudioDoneHandlerEvent);
        }
        return;
      }
      ResponseFunctionCallArgumentsDelta responseFunctionCallArgumentsDeltaHandlerEvent = null;
      try {
        responseFunctionCallArgumentsDeltaHandlerEvent = objectMapper.treeToValue(node, ResponseFunctionCallArgumentsDelta.class);
      } catch (Exception e) {
      }
      if (responseFunctionCallArgumentsDeltaHandlerEvent != null) {
        if (responseFunctionCallArgumentsDeltaHandler != null) {
          responseFunctionCallArgumentsDeltaHandler.accept(responseFunctionCallArgumentsDeltaHandlerEvent);
        }
        return;
      }
      ResponseFunctionCallArgumentsDone responseFunctionCallArgumentsDoneHandlerEvent = null;
      try {
        responseFunctionCallArgumentsDoneHandlerEvent = objectMapper.treeToValue(node, ResponseFunctionCallArgumentsDone.class);
      } catch (Exception e) {
      }
      if (responseFunctionCallArgumentsDoneHandlerEvent != null) {
        if (responseFunctionCallArgumentsDoneHandler != null) {
          responseFunctionCallArgumentsDoneHandler.accept(responseFunctionCallArgumentsDoneHandlerEvent);
        }
        return;
      }
      ResponseDone responseDoneHandlerEvent = null;
      try {
        responseDoneHandlerEvent = objectMapper.treeToValue(node, ResponseDone.class);
      } catch (Exception e) {
      }
      if (responseDoneHandlerEvent != null) {
        if (responseDoneHandler != null) {
          responseDoneHandler.accept(responseDoneHandlerEvent);
        }
        return;
      }
      ErrorEvent errorEventHandlerEvent = null;
      try {
        errorEventHandlerEvent = objectMapper.treeToValue(node, ErrorEvent.class);
      } catch (Exception e) {
      }
      if (errorEventHandlerEvent != null) {
        if (errorEventHandler != null) {
          errorEventHandler.accept(errorEventHandlerEvent);
        }
        return;
      }
      if (onErrorHandler != null) {
        onErrorHandler.accept(new RuntimeException("Unrecognized WebSocket message: " + json.substring(0, Math.min(200, json.length())) + "... Update your SDK version to support new message types."));
      }
    }
    catch (Exception e) {
      if (onErrorHandler != null) {
        onErrorHandler.accept(e);
      }
    }
  }
}
