/**
 * This file was auto-generated by Fern from our API Definition.
 */

package ai.smallest.resources.atoms.realtime;

import ai.smallest.core.ClientOptions;
import ai.smallest.core.MediaTypes;
import ai.smallest.core.ObjectMappers;
import ai.smallest.core.RequestOptions;
import ai.smallest.core.RetryInterceptor;
import ai.smallest.core.SmallestAIApiException;
import ai.smallest.core.SmallestAIException;
import ai.smallest.core.SmallestAIHttpResponse;
import ai.smallest.resources.atoms.errors.BadRequestError;
import ai.smallest.resources.atoms.errors.InternalServerError;
import ai.smallest.resources.atoms.errors.NotFoundError;
import ai.smallest.resources.atoms.errors.UnauthorizedError;
import ai.smallest.resources.atoms.realtime.requests.RegisterCallRealtimeRequest;
import ai.smallest.resources.atoms.realtime.types.RegisterCallRealtimeResponse;
import com.fasterxml.jackson.core.JsonProcessingException;
import java.io.IOException;
import java.lang.Object;
import java.lang.String;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.RequestBody;
import okhttp3.Response;
import okhttp3.ResponseBody;

public class RawRealtimeClient {
  protected final ClientOptions clientOptions;

  public RawRealtimeClient(ClientOptions clientOptions) {
    this.clientOptions = clientOptions;
  }

  /**
   * Mint a <strong>short-lived, single-use access token</strong> for opening a realtime
   * <a href="/atoms/api-reference/api-reference/realtime-agent/realtime-agent">Agent WebSocket</a>
   * connection. This is the <strong>recommended</strong> way to start a session from a
   * browser or other client-side app: your API key stays server-side, and
   * the browser only ever sees the short-lived token. (Server-side or
   * trusted clients may instead connect to the WebSocket with a raw API key
   * directly.)
   * <p>Flow:</p>
   * <ol>
   * <li>Call this endpoint with your API key and the <code>agent_id</code> (plus optional
   * <code>mode</code> and per-call <code>variables</code>). All session configuration is fixed
   * here — it is baked into the returned token.</li>
   * <li>Open a WebSocket to <code>wss://api.smallest.ai/atoms/v1/agent/connect?token=&lt;access_token&gt;</code>.
   * No <code>agent_id</code>, <code>mode</code>, or <code>variables</code> query params are needed on the
   * WebSocket — they come from the token.</li>
   * </ol>
   * <p>The token is valid for <code>expires_in</code> seconds (30) and can be used for a
   * single connection. Request a fresh token for each connection.</p>
   */
  public SmallestAIHttpResponse<RegisterCallRealtimeResponse> registerCall(
      RegisterCallRealtimeRequest request) {
    return registerCall(request,null);
  }

  /**
   * Mint a <strong>short-lived, single-use access token</strong> for opening a realtime
   * <a href="/atoms/api-reference/api-reference/realtime-agent/realtime-agent">Agent WebSocket</a>
   * connection. This is the <strong>recommended</strong> way to start a session from a
   * browser or other client-side app: your API key stays server-side, and
   * the browser only ever sees the short-lived token. (Server-side or
   * trusted clients may instead connect to the WebSocket with a raw API key
   * directly.)
   * <p>Flow:</p>
   * <ol>
   * <li>Call this endpoint with your API key and the <code>agent_id</code> (plus optional
   * <code>mode</code> and per-call <code>variables</code>). All session configuration is fixed
   * here — it is baked into the returned token.</li>
   * <li>Open a WebSocket to <code>wss://api.smallest.ai/atoms/v1/agent/connect?token=&lt;access_token&gt;</code>.
   * No <code>agent_id</code>, <code>mode</code>, or <code>variables</code> query params are needed on the
   * WebSocket — they come from the token.</li>
   * </ol>
   * <p>The token is valid for <code>expires_in</code> seconds (30) and can be used for a
   * single connection. Request a fresh token for each connection.</p>
   */
  public SmallestAIHttpResponse<RegisterCallRealtimeResponse> registerCall(
      RegisterCallRealtimeRequest request, RequestOptions requestOptions) {
    HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getAtomsURL()).newBuilder()

      .addPathSegments("conversation/register-call");if (requestOptions != null) {
        requestOptions.getQueryParameters().forEach((_key, _value) -> {
          httpUrl.addQueryParameter(_key, _value);
        } );
      }
      RequestBody body;
      try {
        body = RequestBody.create(ObjectMappers.JSON_MAPPER.writeValueAsBytes(request), MediaTypes.APPLICATION_JSON);
      }
      catch(JsonProcessingException e) {
        throw new SmallestAIException("Failed to serialize request", e);
      }
      Request okhttpRequest = new Request.Builder()
        .url(httpUrl.build())
        .method("POST", body)
        .headers(Headers.of(clientOptions.headers(requestOptions)))
        .addHeader("Content-Type", "application/json")
        .addHeader("Accept", "application/json")
        .build();
      OkHttpClient client = clientOptions.httpClient();
      if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
        client = clientOptions.httpClientWithTimeout(requestOptions);
      }
      if (requestOptions != null && requestOptions.getMaxRetries().isPresent()) {
        okhttpRequest = okhttpRequest.newBuilder().tag(RetryInterceptor.MaxRetriesOverride.class, new RetryInterceptor.MaxRetriesOverride(requestOptions.getMaxRetries().get())).build();
      }
      try (Response response = client.newCall(okhttpRequest).execute()) {
        ResponseBody responseBody = response.body();
        String responseBodyString = responseBody != null ? responseBody.string() : "{}";
        if (response.isSuccessful()) {
          return new SmallestAIHttpResponse<>(ObjectMappers.JSON_MAPPER.readValue(responseBodyString, RegisterCallRealtimeResponse.class), response);
        }
        try {
          switch (response.code()) {
            case 400:throw new BadRequestError(ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
            case 401:throw new UnauthorizedError(ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
            case 404:throw new NotFoundError(ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
            case 500:throw new InternalServerError(ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
          }
        }
        catch (JsonProcessingException ignored) {
          // unable to map error response, throwing generic error
        }
        Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
        throw new SmallestAIApiException("Error with status code " + response.code(), response.code(), errorBody, response);
      }
      catch (JsonProcessingException e) {
        throw new SmallestAIException("Failed to deserialize response: " + e.getMessage(), e);
      }
      catch (IOException e) {
        throw new SmallestAIException("Network error executing HTTP request", e);
      }
    }
  }
