/**
 * This file was auto-generated by Fern from our API Definition.
 */

package ai.smallest.resources.atoms.realtime;

import ai.smallest.core.ClientOptions;
import ai.smallest.core.RequestOptions;
import ai.smallest.resources.atoms.realtime.requests.RegisterCallRealtimeRequest;
import ai.smallest.resources.atoms.realtime.types.RegisterCallRealtimeResponse;

public class RealtimeClient {
  protected final ClientOptions clientOptions;

  private final RawRealtimeClient rawClient;

  public RealtimeClient(ClientOptions clientOptions) {
    this.clientOptions = clientOptions;
    this.rawClient = new RawRealtimeClient(clientOptions);
  }

  /**
   * Get responses with HTTP metadata like headers
   */
  public RawRealtimeClient withRawResponse() {
    return this.rawClient;
  }

  /**
   * Mint a <strong>short-lived, single-use access token</strong> for opening a realtime
   * <a href="/atoms/api-reference/api-reference/realtime-agent/realtime-agent">Agent WebSocket</a>
   * connection. This is the <strong>recommended</strong> way to start a session from a
   * browser or other client-side app: your API key stays server-side, and
   * the browser only ever sees the short-lived token. (Server-side or
   * trusted clients may instead connect to the WebSocket with a raw API key
   * directly.)
   * <p>Flow:</p>
   * <ol>
   * <li>Call this endpoint with your API key and the <code>agent_id</code> (plus optional
   * <code>mode</code> and per-call <code>variables</code>). All session configuration is fixed
   * here — it is baked into the returned token.</li>
   * <li>Open a WebSocket to <code>wss://api.smallest.ai/atoms/v1/agent/connect?token=&lt;access_token&gt;</code>.
   * No <code>agent_id</code>, <code>mode</code>, or <code>variables</code> query params are needed on the
   * WebSocket — they come from the token.</li>
   * </ol>
   * <p>The token is valid for <code>expires_in</code> seconds (30) and can be used for a
   * single connection. Request a fresh token for each connection.</p>
   */
  public RegisterCallRealtimeResponse registerCall(RegisterCallRealtimeRequest request) {
    return this.rawClient.registerCall(request).body();
  }

  /**
   * Mint a <strong>short-lived, single-use access token</strong> for opening a realtime
   * <a href="/atoms/api-reference/api-reference/realtime-agent/realtime-agent">Agent WebSocket</a>
   * connection. This is the <strong>recommended</strong> way to start a session from a
   * browser or other client-side app: your API key stays server-side, and
   * the browser only ever sees the short-lived token. (Server-side or
   * trusted clients may instead connect to the WebSocket with a raw API key
   * directly.)
   * <p>Flow:</p>
   * <ol>
   * <li>Call this endpoint with your API key and the <code>agent_id</code> (plus optional
   * <code>mode</code> and per-call <code>variables</code>). All session configuration is fixed
   * here — it is baked into the returned token.</li>
   * <li>Open a WebSocket to <code>wss://api.smallest.ai/atoms/v1/agent/connect?token=&lt;access_token&gt;</code>.
   * No <code>agent_id</code>, <code>mode</code>, or <code>variables</code> query params are needed on the
   * WebSocket — they come from the token.</li>
   * </ol>
   * <p>The token is valid for <code>expires_in</code> seconds (30) and can be used for a
   * single connection. Request a fresh token for each connection.</p>
   */
  public RegisterCallRealtimeResponse registerCall(RegisterCallRealtimeRequest request,
      RequestOptions requestOptions) {
    return this.rawClient.registerCall(request, requestOptions).body();
  }
}
