/**
 * This file was auto-generated by Fern from our API Definition.
 */

package ai.smallest.resources.waves.lightningv2tts.websocket;

import ai.smallest.core.ClientOptions;
import ai.smallest.core.DisconnectReason;
import ai.smallest.core.ObjectMappers;
import ai.smallest.core.ReconnectingWebSocketListener;
import ai.smallest.core.RequestOptions;
import ai.smallest.core.WebSocketReadyState;
import ai.smallest.resources.waves.lightningv2tts.types.LightningV2TtsRequestMessage;
import ai.smallest.resources.waves.lightningv2tts.types.LightningV2TtsResponseMessage;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.lang.AutoCloseable;
import java.lang.Exception;
import java.lang.IllegalArgumentException;
import java.lang.IllegalStateException;
import java.lang.Math;
import java.lang.Object;
import java.lang.Override;
import java.lang.Runnable;
import java.lang.RuntimeException;
import java.lang.String;
import java.lang.Void;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ScheduledExecutorService;
import java.util.function.Consumer;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.WebSocket;
import okio.ByteString;

/**
 * WebSocket client for the lightningV2Tts channel.
 * Provides real-time bidirectional communication with strongly-typed messages.
 */
public class LightningV2TtsWebSocketClient implements AutoCloseable {
  protected final ClientOptions clientOptions;

  private final ObjectMapper objectMapper;

  private final OkHttpClient okHttpClient;

  private ScheduledExecutorService timeoutExecutor;

  private volatile WebSocketReadyState readyState = WebSocketReadyState.CLOSED;

  private volatile Runnable onConnectedHandler;

  private volatile Consumer<DisconnectReason> onDisconnectedHandler;

  private volatile Consumer<Exception> onErrorHandler;

  private volatile Consumer<String> onMessageHandler;

  private volatile ReconnectingWebSocketListener.ReconnectOptions reconnectOptions;

  private CompletableFuture<Void> connectionFuture;

  private ReconnectingWebSocketListener reconnectingListener;

  private volatile Consumer<LightningV2TtsResponseMessage> receiveSynthesizeStreamingLightningV2Handler;

  /**
   * Creates a new async WebSocket client for the lightningV2Tts channel.
   */
  public LightningV2TtsWebSocketClient(ClientOptions clientOptions) {
    this.clientOptions = clientOptions;
    this.objectMapper = ObjectMappers.JSON_MAPPER;
    this.okHttpClient = clientOptions.httpClient();
  }

  /**
   * Establishes the WebSocket connection asynchronously with automatic reconnection.
   * @return a CompletableFuture that completes when the connection is established
   */
  public CompletableFuture<Void> connect() {
    connectionFuture = new CompletableFuture<>();
    String baseUrl = clientOptions.environment().getWavesWsURL();
    String fullPath = "/waves/v1/lightning-v2/get_speech/stream";
    if (baseUrl.endsWith("/") && fullPath.startsWith("/")) {
      fullPath = fullPath.substring(1);
    }
    else if (!baseUrl.endsWith("/") && !fullPath.startsWith("/")) {
      fullPath = "/" + fullPath;
    }
    // OkHttp's HttpUrl only supports http/https schemes; convert wss/ws for URL parsing
    if (baseUrl.startsWith("wss://")) {
      baseUrl = "https://" + baseUrl.substring(6);
    }
    else if (baseUrl.startsWith("ws://")) {
      baseUrl = "http://" + baseUrl.substring(5);
    }
    HttpUrl parsedUrl = HttpUrl.parse(baseUrl + fullPath);
    if (parsedUrl == null) {
      throw new IllegalArgumentException("Invalid WebSocket URL: " + baseUrl + fullPath);
    }
    HttpUrl.Builder urlBuilder = parsedUrl.newBuilder();
    Request.Builder requestBuilder = new Request.Builder().url(urlBuilder.build());
    clientOptions.headers((RequestOptions) null).forEach(requestBuilder::addHeader);
    final Request request = requestBuilder.build();
    this.readyState = WebSocketReadyState.CONNECTING;
    ReconnectingWebSocketListener.ReconnectOptions reconnectOpts = this.reconnectOptions != null ? this.reconnectOptions : ReconnectingWebSocketListener.ReconnectOptions.builder().build();
    this.reconnectingListener = new ReconnectingWebSocketListener(reconnectOpts, () -> {
        if (clientOptions.webSocketFactory().isPresent()) {
      return clientOptions.webSocketFactory().get().create(request, this.reconnectingListener);
    }
        else {
      return okHttpClient.newWebSocket(request, this.reconnectingListener);
    }
    }) {
        @Override
        protected void onWebSocketOpen(WebSocket webSocket, Response response) {
            readyState = WebSocketReadyState.OPEN;
            if (onConnectedHandler != null) {
                  onConnectedHandler.run();
    }
            connectionFuture.complete(null);
        }

        @Override
        protected void onWebSocketMessage(WebSocket webSocket, String text) {
            handleIncomingMessage(text);
        }

        @Override
        protected void onWebSocketBinaryMessage(WebSocket webSocket, ByteString bytes) {
        }

        @Override
        protected void onWebSocketFailure(WebSocket webSocket, Throwable t, Response response) {
            readyState = WebSocketReadyState.CLOSED;
            if (onErrorHandler != null) {
                  onErrorHandler.accept(new RuntimeException(t));
    }
            connectionFuture.completeExceptionally(t);
        }

        @Override
        protected void onWebSocketClosed(WebSocket webSocket, int code, String reason) {
            readyState = WebSocketReadyState.CLOSED;
            if (onDisconnectedHandler != null) {
          onDisconnectedHandler.accept(new DisconnectReason(code, reason));
    }
        }
    };
    reconnectingListener.connect();
    return connectionFuture;
  }

  /**
   * Disconnects the WebSocket connection and releases resources.
   */
  public void disconnect() {
    reconnectingListener.disconnect();
    if (timeoutExecutor != null) {
      timeoutExecutor.shutdownNow();
      timeoutExecutor = null;
    }
  }

  /**
   * Gets the current state of the WebSocket connection.
   *
   * This provides the actual connection state, similar to the W3C WebSocket API.
   *
   * @return the current WebSocket ready state
   */
  public WebSocketReadyState getReadyState() {
    return readyState;
  }

  /**
   * Sends a lightningV2TtsRequest.message message to the server asynchronously.
   * @param message the message to send
   * @return a CompletableFuture that completes when the message is sent
   */
  public CompletableFuture<Void> synthesizeStreamingLightningV2(
      LightningV2TtsRequestMessage message) {
    return sendMessage(message);
  }

  /**
   * Registers a handler for lightningV2TtsResponse.message messages from the server.
   * @param handler the handler to invoke when a message is received
   */
  public void receiveSynthesizeStreamingLightningV2(
      Consumer<LightningV2TtsResponseMessage> handler) {
    this.receiveSynthesizeStreamingLightningV2Handler = handler;
  }

  /**
   * Registers a handler called when the connection is established.
   * @param handler the handler to invoke when connected
   */
  public void onConnected(Runnable handler) {
    this.onConnectedHandler = handler;
  }

  /**
   * Registers a handler called when the connection is closed.
   * @param handler the handler to invoke when disconnected
   */
  public void onDisconnected(Consumer<DisconnectReason> handler) {
    this.onDisconnectedHandler = handler;
  }

  /**
   * Registers a handler called when an error occurs.
   * @param handler the handler to invoke on error
   */
  public void onError(Consumer<Exception> handler) {
    this.onErrorHandler = handler;
  }

  /**
   * Registers a handler called for every incoming text message.
   * The handler receives the raw JSON string before type-specific dispatch.
   * @param handler the handler to invoke with the raw message JSON
   */
  public void onMessage(Consumer<String> handler) {
    this.onMessageHandler = handler;
  }

  /**
   * Configures reconnection behavior. Must be called before {@link #connect}.
   *
   * @param options the reconnection options (backoff, retries, queue size)
   */
  public void reconnectOptions(ReconnectingWebSocketListener.ReconnectOptions options) {
    this.reconnectOptions = options;
  }

  /**
   * Closes this WebSocket client, releasing all resources.
   * Equivalent to calling {@link #disconnect()}.
   */
  @Override
  public void close() {
    disconnect();
  }

  /**
   * Ensures the WebSocket is connected and ready to send messages.
   * @throws IllegalStateException if the socket is not connected or not open
   */
  private void assertSocketIsOpen() {
    if (reconnectingListener.getWebSocket() == null) {
      throw new IllegalStateException("WebSocket is not connected. Call connect() first.");
    }
    if (readyState != WebSocketReadyState.OPEN) {
      throw new IllegalStateException("WebSocket is not open. Current state: " + readyState);
    }
  }

  private CompletableFuture<Void> sendMessage(Object body) {
    CompletableFuture<Void> future = new CompletableFuture<>();
    try {
      assertSocketIsOpen();
      String json = objectMapper.writeValueAsString(body);
      // Use reconnecting listener's send method which handles queuing
      reconnectingListener.send(json);
      future.complete(null);
    }
    catch (IllegalStateException e) {
      future.completeExceptionally(e);
    }
    catch (Exception e) {
      future.completeExceptionally(new RuntimeException("Failed to send message", e));
    }
    return future;
  }

  private void handleIncomingMessage(String json) {
    try {
      if (onMessageHandler != null) {
        onMessageHandler.accept(json);
      }
      JsonNode node = objectMapper.readTree(json);
      if (node == null || node.isNull()) {
        throw new IllegalArgumentException("Received null or invalid JSON message");
      }
      LightningV2TtsResponseMessage receiveSynthesizeStreamingLightningV2HandlerEvent = null;
      try {
        receiveSynthesizeStreamingLightningV2HandlerEvent = objectMapper.treeToValue(node, LightningV2TtsResponseMessage.class);
      } catch (Exception e) {
      }
      if (receiveSynthesizeStreamingLightningV2HandlerEvent != null) {
        if (receiveSynthesizeStreamingLightningV2Handler != null) {
          receiveSynthesizeStreamingLightningV2Handler.accept(receiveSynthesizeStreamingLightningV2HandlerEvent);
        }
        return;
      }
      if (onErrorHandler != null) {
        onErrorHandler.accept(new RuntimeException("Unrecognized WebSocket message: " + json.substring(0, Math.min(200, json.length())) + "... Update your SDK version to support new message types."));
      }
    }
    catch (Exception e) {
      if (onErrorHandler != null) {
        onErrorHandler.accept(e);
      }
    }
  }
}
